force-app/main/default/flows/Contact_CRU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Allow_Marketing_no</name>
        <label>Assign Allow Marketing no</label>
        <locationX>831</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allow_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_bulk_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeringContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Allow_Marketing_Yes</name>
        <label>Assign Allow Marketing Yes</label>
        <locationX>567</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allow_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_bulk_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Allow_post__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeringContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountID</name>
        <label>AssignAccountID</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarClientAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Country_filled_in</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGDPRUpdatedDT</name>
        <label>AssignGDPRUpdatedDT</label>
        <locationX>787</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_consent_updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allow_Marketing_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGeoregionFound</name>
        <label>AssignGeoregionFound</label>
        <locationX>501</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geo_region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Nat_Geo_Region_MD.Geo_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_LKW_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGeoregionNotFound</name>
        <label>AssignGeoregionNotFound</label>
        <locationX>765</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geo_region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Has_LKW_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLKWDateTime</name>
        <label>AssignLKWDateTime</label>
        <locationX>787</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>$Record.LKW_updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GDPR_Consent_changed</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Incomplete_New_Contact_Data</name>
        <label>Incomplete New Contact Data</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Please make sure that your new Contact includes: First Name, Last Name and a Contact Type.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Allow_Marketing_Change</name>
        <label>Allow Marketing Change</label>
        <locationX>831</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>UpdateTriggeringContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allow_Marketing_is_Yes_and_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_marketing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Allow_Marketing_Yes</targetReference>
            </connector>
            <label>Allow Marketing is Yes and True</label>
        </rules>
        <rules>
            <name>Allow_Marketing_is_No_and_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_marketing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Allow_Marketing_no</targetReference>
            </connector>
            <label>Allow Marketing is No and True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_Contact_Record</name>
        <label>Complete Contact Record</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Client_Account_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incomplete_contact_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Type__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incomplete_New_Contact_Data</targetReference>
            </connector>
            <label>Incomplete contact record</label>
        </rules>
    </decisions>
    <decisions>
        <name>GDPR_Consent_changed</name>
        <label>GDPR Consent changed</label>
        <locationX>831</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Allow_Marketing_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GDPR_change_is_integration_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>goldclipper_integration@burgessyachts.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allow_Marketing_Change</targetReference>
            </connector>
            <label>GDPR change is integration users</label>
        </rules>
        <rules>
            <name>Yes_GDPR_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_consent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGDPRUpdatedDT</targetReference>
            </connector>
            <label>Yes GDPR changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_LKW_Changed</name>
        <label>Has LKW Changed</label>
        <locationX>831</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>GDPR_Consent_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LKW_Is_GC_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>goldclipper_integration@burgessyachts.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDPR_Consent_changed</targetReference>
            </connector>
            <label>LKW Is GC Integration User</label>
        </rules>
        <rules>
            <name>Yes_LKW_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LKW_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_currency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLKWDateTime</targetReference>
            </connector>
            <label>Yes LKW changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Account_Process</name>
        <label>Is Client Account Process</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Country_filled_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Company</defaultConnectorLabel>
        <rules>
            <name>Yes_is_a_client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsClient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetClientAccountRecordType</targetReference>
            </connector>
            <label>Yes is a client</label>
        </rules>
        <rules>
            <name>Is_type_unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetunknonwAccountRecordType</targetReference>
            </connector>
            <label>Is type unknown</label>
        </rules>
        <rules>
            <name>Is_type_Capt_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Captain/Crew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCapCrewAccountRecordType</targetReference>
            </connector>
            <label>Is type Capt Crew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_New</name>
        <label>Is Contact New</label>
        <locationX>831</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Country_filled_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_duplicates</targetReference>
            </connector>
            <label>Is New is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Mailing country</description>
        <name>Is_Country_filled_in</name>
        <label>Is Country filled in</label>
        <locationX>831</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Has_LKW_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Country_is_filled_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Nat_Geo_Region_MD</targetReference>
            </connector>
            <label>Yes Country is filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Geo_Found</name>
        <label>Matching Geo Found</label>
        <locationX>633</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>AssignGeoregionNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Geo_Region_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Nat_Geo_Region_MD.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGeoregionFound</targetReference>
            </connector>
            <label>Yes Geo Region Match</label>
        </rules>
    </decisions>
    <description>Adding in capt and crew path</description>
    <environments>Default</environments>
    <formulas>
        <name>ForClientAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&apos; &apos;+{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>IsClient</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.Contact_Type__c})= &apos;Client&apos;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>Contact CRU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact CRU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Team</name>
        <label>Create Account Team</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>AssignAccountID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarClientAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CC_Account</name>
        <label>Create CC Account</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>VarClientAccountId</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignAccountID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ForClientAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCapCrewAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Yachting Industry</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Client_Account</name>
        <label>Create Client Account</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>VarClientAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Account_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ForClientAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetClientAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Unknown_Account</name>
        <label>Create Unknown Account</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>VarClientAccountId</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignAccountID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ForClientAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetunknonwAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Yachting Industry</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_duplicates</name>
        <label>Check for duplicates</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Contact_Record</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nat_Geo_Region_MD</name>
        <label>Get Nat Geo Region MD</label>
        <locationX>633</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Geo_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nationality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Geo_Region__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Geo_Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCapCrewAccountRecordType</name>
        <label>GetCapCrewAccountRecordType</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CC_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Captain_and_crew</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientAccountRecordType</name>
        <label>GetClientAccountRecordType</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Client_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetunknonwAccountRecordType</name>
        <label>GetUnknownAccountRecordType</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Unknown_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTriggeringContact</name>
        <label>UpdateTriggeringContact</label>
        <locationX>831</locationX>
        <locationY>2939</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>705</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_New</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarClientAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
