force-app/main/default/flows/Create_Team_Attendee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Added_Opportunity_Team_Record_Instance_to_a_Collection</name>
        <label>Added Opportunity Team Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityTeamRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Contact_Role_Instance_Variable_to_a_Collection</name>
        <label>Adding Contact Role Instance Variable to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityContactRoleRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Contact_Repeater_Value_to_Create_Team_Attendee_Record_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Team_Attendee_Record_Instance_to_a_Collection</name>
        <label>Adding Team Attendee Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>teamAttendeeRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Contact_Repeater_Value_to_Create_Team_Attendee_Record_Instance</name>
        <label>Assigning Contact Repeater Value to Create Team Attendee Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inspectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Associates_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Team_Attendee_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Contact_Repeater_Values_to_Create_Contact_Role</name>
        <label>Assigning Contact Repeater Values to Create Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Associates_Roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Contact_Role_Instance_Variable_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Team_Attendee_Record_Instance_to_a_Collection</name>
        <label>Assigning Team Attendee Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>teamAttendeeRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Team_Repeater_to_Create_Team_Attendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Team_Repeater_Values_to_Team_Attendee_Record_Instance</name>
        <label>Assigning Team Repeater Values to Team Attendee Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inspectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.User.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.Team_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Team_Attendee_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_User_Team_Repeater_Values_to_Create_Opportunity_Team</name>
        <label>Assigning User Team Repeater Values to Create Opportunity Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_User_Team_Repeater.User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_User_Team_Repeater.Team_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Added_Opportunity_Team_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_All_Values_from_a_Team_Attendee_Collection</name>
        <label>Remove All Values from a Team Attendee Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>teamAttendeeRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Burgess</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Burgess&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Burgess</stringValue>
        </value>
    </choices>
    <choices>
        <name>External</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;External&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Whether_Contact_Id_and_Associate_Role_is_not_null</name>
        <label>Check Whether Contact Id and Associate Role is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_of_Contact_Repeater.Contact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_of_Contact_Repeater.Associates_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Contact_Repeater_Values_to_Create_Contact_Role</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_the_Team_Attendee_Collection_is_Empty_or_Not</name>
        <label>Check Whether the Team Attendee Collection is Empty or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Collection is Empty</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>teamAttendeeRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Team_Attendee_Records</targetReference>
            </connector>
            <label>Collection is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_there_is_Contact_Role_Available_for_Insert</name>
        <label>Check Whether there is Contact Role Available for Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContactRoleList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</name>
        <label>Check Whether there is Opportunity Team Member Available for Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityTeamCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_User_Id_and_Team_Role_is_Available</name>
        <label>Check whether User Id and Team Role is Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_User_Team_Repeater.User.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_User_Team_Repeater.Team_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_User_Team_Repeater_Values_to_Create_Opportunity_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>adding in formula to choose the correct opp id</description>
    <dynamicChoiceSets>
        <name>choiceRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>changes opp based on RT</description>
        <name>ForOppIDForCreate</name>
        <dataType>String</dataType>
        <expression>IF(
{!Record_Type.DeveloperName} = &quot;Broker_Sale&quot;,
{!Get_Inspection_Info.Opportunity__c},
{!recordId} )</expression>
    </formulas>
    <interviewLabel>Create Team Attendee Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Team Attendee Flow</label>
    <loops>
        <name>Loop_of_Contact_Repeater</name>
        <label>Loop of Contact Repeater</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Contact_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_Contact_Id_and_Associate_Role_is_not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Team_Repeater_to_Create_Team_Attendee</name>
        <label>Loop on Team Repeater to Create Team Attendee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Team_Repeater_Values_to_Team_Attendee_Record_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Whether_the_Team_Attendee_Collection_is_Empty_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_User_Team_Repeater</name>
        <label>Loop on User Team Repeater</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_whether_User_Id_and_Team_Role_is_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Whether_there_is_Contact_Role_Available_for_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Team_Attendee_Records_from_Contact</targetReference>
        </connector>
        <inputReference>OpportunityContactRoleList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team</name>
        <label>Create Opportunity Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_on_Team_Repeater_to_Create_Team_Attendee</targetReference>
        </connector>
        <inputReference>OpportunityTeamCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Attendee_Records</name>
        <label>Create Team Attendee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>teamAttendeeRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Attendee_Records_from_Contact</name>
        <label>Create Team Attendee Records from Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Remove_All_Values_from_a_Team_Attendee_Collection</targetReference>
        </connector>
        <inputReference>teamAttendeeRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inspection_Info</name>
        <label>Get Inspection Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inspection_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp_Info.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Inspection_Screen</name>
        <label>Inspection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </connector>
        <fields>
            <name>Contact_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Contact</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>ReportsToId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Associates_Roles</name>
                <choiceReferences>choiceRole</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <stringValue>Client</stringValue>
                </defaultValue>
                <fieldText>Associates Roles</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Team_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>User</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>CreatedById</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Team_Roles</name>
                <choiceReferences>Burgess</choiceReferences>
                <choiceReferences>External</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>Burgess</defaultSelectedChoiceReference>
                <fieldText>Team Roles</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Attendee</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamAttendeeRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
    <variables>
        <name>teamAttendeeRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
</Flow>
