force-app/main/default/flows/Create_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Added_Opportunity_Team_Record_Instance_to_a_Collection</name>
        <label>Added Opportunity Team Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityTeamRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Contact_Role_Instance_Variable_to_a_Collection</name>
        <label>Adding Contact Role Instance Variable to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityContactRoleRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Contact_Repeater_Value_to_Create_Team_Attendee_Record_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Team_Attendee_Record_Instance_to_a_Collection</name>
        <label>Adding Team Attendee Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>teamAttendeeRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_Value</name>
        <label>Assgin Value MP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MarketPositionrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Market_Position_Sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YachtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Market_Position_Sale.Yacht__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsFormulaName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Store_Collection_On_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin_Value_MP_Selected_Yacht</name>
        <label>Assgin Value MP Selected Yacht</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MarketPositionrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MP_for_selected_Yacht</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YachtId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yacht_Lookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InspectionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InspectionNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Store_Collection_On_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Error_Variable_Null</name>
        <label>Assign Flow Error Variable Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowContactRecordErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeVariableCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>storeVariableCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeTeamVariableCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>storeTeamVariableCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionYacht</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeDateTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeDateTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Contact_Repeater_Value_to_Create_Team_Attendee_Record_Instance</name>
        <label>Assigning Contact Repeater Value to Create Team Attendee Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inspectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Associates_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Team_Attendee_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Contact_Repeater_Values_to_Create_Contact_Role</name>
        <label>Assigning Contact Repeater Values to Create Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_of_Contact_Repeater.Associates_Roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRoleRecordInstance.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Contact_Role_Instance_Variable_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Team_Attendee_Record_Instance_to_a_Collection</name>
        <label>Assigning Team Attendee Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>teamAttendeeRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Team_Repeater_to_Create_Team_Attendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Team_Repeater_Values_to_Team_Attendee_Record_Instance</name>
        <label>Assigning Team Repeater Values to Team Attendee Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inspectionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.User.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_to_Create_Team_Attendee.Team_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Team_Attendee_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Contact_Error_ID_Variable</name>
        <label>Assigning the Contact Error ID Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowContactRecordErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Contact_Error_ID_Variable_from_Store_Collection</name>
        <label>Assigning the Contact Error ID Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowContactRecordErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Error_ID_Variable</name>
        <label>Assigning the Error ID Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowContactRecordErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_RecordInstance_Variable_to_Store_Value</name>
        <label>Assigning the RecordInstance Variable to Store Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeVarInstance.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs.Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeVarInstance.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeRoleFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_StoreVariable_in_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_the_Team_Error_ID_Variable</name>
        <label>Assigning the Team Error ID Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowContactRecordErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_User_Team_Repeater_Values_to_Create_Opportunity_Team</name>
        <label>Assigning User Team Repeater Values to Create Opportunity Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_User_Team_Repeater.User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamRecordInstance.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_User_Team_Repeater.Team_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Added_Opportunity_Team_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Yacht_ID_in_a_Collection_Variable</name>
        <label>Assigning Yacht ID in a Collection Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>YachtIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Get_all_Yacht_Proposed_Related_to_the_Opportunity.Yacht__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_all_Yacht_Proposed_Related_to_the_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_the_storeTeamRecordInstance_to_Store_Values</name>
        <label>Assignment the storeTeamRecordInstance to Store Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeTeamRecordInstance.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs.User.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeTeamRecordInstance.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeTeamRoleFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_StoreTeamRecordInstance_in_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_StoreTeamRecordInstance_in_a_Collection</name>
        <label>Collect StoreTeamRecordInstance in a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeTeamVariableCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>storeTeamRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_StoreVariable_in_a_Collection</name>
        <label>Collect StoreVariable in a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeVariableCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>storeVarInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_All_Values_from_a_Team_Attendee_Collection</name>
        <label>Remove All Values from a Team Attendee Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamAttendeeRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>teamAttendeeRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_All_Inspection_Selected_on_Screen_Values</name>
        <label>Store All Inspection Selected on Screen Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storeInspectionLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeInspectionYacht</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yacht_Lookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Yacht_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Burgess</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Burgess&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Burgess</stringValue>
        </value>
    </choices>
    <choices>
        <name>External</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;External&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Out_Current_Loop_Value_from_Get_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Current Loop Value from Get Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Current_Loop_Value_from_Get_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Contact_Role_Related_to_the_Opportunity</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Current_Loop_Value_from_Get_Records.ContactId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_of_Contact_Repeater.Contact.recordId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Current_Loop_Value_from_Get_Records.Role</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_of_Contact_Repeater.Associates_Roles</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_Whether_Filter_List_is_Empty</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Before_Get_Or_Not_MP</name>
        <label>Check Before Get Or Not MP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assgin_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value Exist</defaultConnectorLabel>
        <rules>
            <name>Check_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_Position_Sale.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MP_for_selected_Yacht</targetReference>
            </connector>
            <label>Check MP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Flow_Output_Variable_Has_Values</name>
        <label>Check Flow Output Variable Has Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No It is Empty</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowContactRecordErrorVariable</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flow_Error_Variable_Null</targetReference>
            </connector>
            <label>Yes It has Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Record_Type</name>
        <label>Check Opp. Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Market_Position_Sale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Broker Sale</defaultConnectorLabel>
        <rules>
            <name>Broker_Purchase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Yacht_Proposed_Related_to_the_Opportunity</targetReference>
            </connector>
            <label>Broker Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Contact_Id_and_Associate_Role_is_not_null</name>
        <label>Check Whether Contact Id and Associate Role is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_of_Contact_Repeater.Contact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_of_Contact_Repeater.Associates_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Out_Current_Loop_Value_from_Get_Records</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Contact_is_Selected_or_Not</name>
        <label>Check Whether Contact is Selected or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact is Not Selected</defaultConnectorLabel>
        <rules>
            <name>Contact_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty.Contact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_Its_Associated_Role_is_Selected</targetReference>
            </connector>
            <label>Contact is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Filter_List_is_Empty</name>
        <label>Check Whether Filter List is Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_Contact_Repeater_Values_to_Create_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>List is Empty</defaultConnectorLabel>
        <rules>
            <name>List_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Out_Current_Loop_Value_from_Get_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Contact_Repeater_Value_to_Create_Team_Attendee_Record_Instance</targetReference>
            </connector>
            <label>List is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_it_Has_Associated_Role</name>
        <label>Check Whether it Has Associated Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_the_Contact_Error_ID_Variable_from_Store_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It don&apos;t have Associated Role</defaultConnectorLabel>
        <rules>
            <name>It_Has_Associated_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Store_Collection_On_Contact.Role</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Store_Collection_On_Contact</targetReference>
            </connector>
            <label>It has Associated Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Its_Associated_Role_is_Selected</name>
        <label>Check Whether Its Associated Role is Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_the_Contact_Error_ID_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Role is Not Selected</defaultConnectorLabel>
        <rules>
            <name>Contact_Associated_Role_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty.Associates_Roles</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty</targetReference>
            </connector>
            <label>Contact Associated Role is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_its_Role_is_Selected_or_Not</name>
        <label>Check Whether its Role is Selected or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Store_Team_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Associate Role is Not Null</defaultConnectorLabel>
        <rules>
            <name>Associate_Role_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Store_Team_Collection.TeamMemberRole</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_the_Team_Error_ID_Variable</targetReference>
            </connector>
            <label>Associate Role is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Store_Collection_Has_Null_Contact</name>
        <label>Check Whether Store Collection Has Null Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Store_Collection_On_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Id is Not There</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_is_There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Store_Collection_On_Contact.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_it_Has_Associated_Role</targetReference>
            </connector>
            <label>Contact Id is There</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_the_Team_Attendee_Collection_is_Empty_or_Not</name>
        <label>Check Whether the Team Attendee Collection is Empty or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Collection is Empty</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>teamAttendeeRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Team_Attendee_Records</targetReference>
            </connector>
            <label>Collection is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_there_is_Contact_Role_Available_for_Insert</name>
        <label>Check Whether there is Contact Role Available for Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityContactRoleList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_there_is_Opportunity_Team_Member_Available_for_Insert</name>
        <label>Check Whether there is Opportunity Team Member Available for Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityTeamCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_User_Associated_Role_is_Selected</name>
        <label>Check Whether User Associated Role is Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_the_Error_ID_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Associate Role is Not Selected</defaultConnectorLabel>
        <rules>
            <name>Associate_Role_is_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Team_Repeater_for_Checking_Role_Availabilty.Team_Roles</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Team_Repeater_for_Checking_Role_Availabilty</targetReference>
            </connector>
            <label>Associate Role is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_User_Id_and_Team_Role_is_Available</name>
        <label>Check whether User Id and Team Role is Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_User_Team_Repeater.User.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_User_Team_Repeater.Team_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_User_Team_Repeater_Values_to_Create_Opportunity_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_User_is_Selected_or_Not</name>
        <label>Check Whether User is Selected or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Team_Repeater_for_Checking_Role_Availabilty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is Not Selected</defaultConnectorLabel>
        <rules>
            <name>User_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Team_Repeater_for_Checking_Role_Availabilty.User.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_User_Associated_Role_is_Selected</targetReference>
            </connector>
            <label>User is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_User_Value_is_Available</name>
        <label>Check Whether User Value is Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Store_Team_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is Not Available</defaultConnectorLabel>
        <rules>
            <name>User_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Store_Team_Collection.UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Whether_its_Role_is_Selected_or_Not</targetReference>
            </connector>
            <label>User is Available</label>
        </rules>
    </decisions>
    <description>changing field order</description>
    <dynamicChoiceSets>
        <name>choiceRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YachtRecordCollectionSet</name>
        <collectionReference>Get_all_Yachts_Related_to_all_Yacht_Proposed</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Yacht__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>changes opp based on RT</description>
        <name>ForOppIDForCreate</name>
        <dataType>String</dataType>
        <expression>IF(
{!Get_Record_Type.DeveloperName} = &quot;Broker_Sale&quot;,
{!BrokerPurchase.recordId},
{!recordId}
)</expression>
    </formulas>
    <formulas>
        <name>InsFormulaName</name>
        <dataType>String</dataType>
        <expression>{!Get_Market_Position_Sale.Yacht__r.Name} &amp; &apos; Inspection &apos; &amp; TEXT(DATEVALUE({!Start_Time}))</expression>
    </formulas>
    <formulas>
        <name>InspectionNameFormula</name>
        <dataType>String</dataType>
        <expression> {!Get_Selected_Yacht_Record.Name} &amp; &apos; Inspection &apos; &amp; TEXT(DATEVALUE({!Start_Time}))</expression>
    </formulas>
    <formulas>
        <name>removeDateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <name>storeRoleFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs.Associates_Roles}), &quot;--None--&quot;, {!Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs.Associates_Roles})</expression>
    </formulas>
    <formulas>
        <name>storeTeamRoleFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs.Team_Roles}), &quot;--None--&quot;, {!Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs.Team_Roles})</expression>
    </formulas>
    <interviewLabel>Create Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inspection Flow</label>
    <loops>
        <name>Loop_of_Contact_Repeater</name>
        <label>Loop of Contact Repeater</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Contact_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_Contact_Id_and_Associate_Role_is_not_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_User_Team_Repeater</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty</name>
        <label>Loop on Contact Repeater for Checking Role Availabilty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Contact_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_Contact_is_Selected_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Team_Repeater_for_Checking_Role_Availabilty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Contact_Repeater_To_store_Value_if_Error_Occurs</name>
        <label>Loop on Contact Repeater To store Value if Error Occurs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Contact_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_the_RecordInstance_Variable_to_Store_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Get_all_Yacht_Proposed_Related_to_the_Opportunity</name>
        <label>Loop on Get all Yacht Proposed Related to the Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_Yacht_Proposed_Related_to_the_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Yacht_ID_in_a_Collection_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_Yachts_Related_to_all_Yacht_Proposed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Store_Collection_On_Contact</name>
        <label>Loop On Store Collection On Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>storeVariableCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_Store_Collection_Has_Null_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_On_Store_Team_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Store_Team_Collection</name>
        <label>Loop On Store Team Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>storeTeamVariableCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_User_Value_is_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Contact_Repeater_for_Checking_Role_Availabilty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Team_Repeater_for_Checking_Role_Availabilty</name>
        <label>Loop on Team Repeater for Checking Role Availabilty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Whether_User_is_Selected_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inspection_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Team_Repeater_to_Create_Team_Attendee</name>
        <label>Loop on Team Repeater to Create Team Attendee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Team_Repeater_Values_to_Team_Attendee_Record_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Whether_the_Team_Attendee_Collection_is_Empty_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Team_Repeater_To_store_Value_if_Error_Occurs</name>
        <label>Loop on Team Repeater To store Value if Error Occurs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_the_storeTeamRecordInstance_to_Store_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_All_Inspection_Selected_on_Screen_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_User_Team_Repeater</name>
        <label>Loop on User Team Repeater</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Team_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_whether_User_Id_and_Team_Role_is_Available</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Whether_there_is_Contact_Role_Available_for_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Team_Attendee_Records_from_Contact</targetReference>
        </connector>
        <inputReference>OpportunityContactRoleList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Inspection_Record</name>
        <label>Create Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>inspectionId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Related_Contact_Role_Related_to_the_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>MarketPositionrecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>InspectionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value>
                <stringValue>Positive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Arranged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>YachtId</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team</name>
        <label>Create Opportunity Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_on_Team_Repeater_to_Create_Team_Attendee</targetReference>
        </connector>
        <inputReference>OpportunityTeamCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Attendee_Records</name>
        <label>Create Team Attendee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>teamAttendeeRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Attendee_Records_from_Contact</name>
        <label>Create Team Attendee Records from Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Remove_All_Values_from_a_Team_Attendee_Collection</targetReference>
        </connector>
        <inputReference>teamAttendeeRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Yacht_Proposed_Related_to_the_Opportunity</name>
        <label>Get all Yacht Proposed Related to the Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Get_all_Yacht_Proposed_Related_to_the_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Yachts_Related_to_all_Yacht_Proposed</name>
        <label>Get all Yachts Related to all Yacht Proposed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>YachtIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Yacht__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Position_Sale</name>
        <label>Get Market Position Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selling_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MP_for_selected_Yacht</name>
        <label>Get MP for selected Yacht</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assgin_Value_MP_Selected_Yacht</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Yacht_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opp_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Role_Related_to_the_Opportunity</name>
        <label>Get Related Contact Role Related to the Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_of_Contact_Repeater</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ForOppIDForCreate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Yacht_Record</name>
        <label>Get Selected Yacht Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Before_Get_Or_Not_MP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yacht_Lookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Yacht__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Inspection_Screen</name>
        <label>Inspection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Flow_Output_Variable_Has_Values</targetReference>
        </connector>
        <fields>
            <name>Yacht</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Market_Position_Sale.Yacht__r.Name</elementReference>
            </defaultValue>
            <fieldText>Yacht</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Market_Position_Sale.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inspection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Yacht_Lookup</name>
                    <choiceReferences>YachtRecordCollectionSet</choiceReferences>
                    <defaultValue>
                        <elementReference>storeInspectionYacht</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Yacht Lookup</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inspection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>storeInspectionLocation</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>storeInspectionStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>storeInspectionEndDate</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(231, 17, 27);&quot;&gt;The End Date must be after the Start Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Time} &gt; {!Start_Time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BrokerPurchase</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Broker Purchase</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Market_Position_Sale.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Market_Position</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Market_Position_Sale.Name</elementReference>
            </defaultValue>
            <fieldText>Market Position</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Market_Position_Sale.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Contact</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>ReportsToId</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>storeVariableCollection[$EachItem].Contact.Id</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Associates_Roles</name>
                <choiceReferences>choiceRole</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>storeVariableCollection[$EachItem].Role</elementReference>
                </defaultValue>
                <fieldText>Associates Roles</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>storeVariableCollection</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Team_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>User</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>CreatedById</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>storeTeamVariableCollection[$EachItem].UserId</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Team_Roles</name>
                <choiceReferences>Burgess</choiceReferences>
                <choiceReferences>External</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>storeTeamVariableCollection[$EachItem].TeamMemberRole</elementReference>
                </defaultValue>
                <fieldText>Team Roles</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>storeTeamVariableCollection</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Inspection</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Current_Loop_Value_from_Get_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>finalError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowContactRecordErrorVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InspectionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketPositionrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Market_Position__c</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeInspectionEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeInspectionLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeInspectionStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeInspectionYacht</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeTeamRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>storeTeamVariableCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>storeVariableCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>storeVarInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>teamAttendeeRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
    <variables>
        <name>teamAttendeeRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
    <variables>
        <name>YachtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
