force-app/main/default/flows/CRUOTM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Last_updated_date</name>
        <label>Assign Last updated date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changed_status_reason_equals_inactive_sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMPName</name>
        <label>AssignMPName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPreEventName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMPYachtEventChangeUpper</name>
        <label>AssignMPYachtEventChangeUpper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Yacht_name_at_event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORYachtNameAtEventChanged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_the_price_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPreEventName</name>
        <label>AssignPreEventName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarEventNameOnSave</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Yacht_name_at_event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEventNamePrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Yacht_name_at_event__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsYachtNameAtEventChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPreviousPrice</name>
        <label>AssignPreviousPrice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Asking_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Askingprice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Asking_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Asking_currency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_key_fields_changed</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>MP_Charter_Error_Please_select_a_different_yacht</name>
        <label>MP Charter Error Please select a different yacht.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>&quot;Error: Duplicate entry — this yacht is already listed under an active charter market position.&quot;</errorMessage>
            <fieldSelection>Yacht__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>MP_Sale_Error_Please_select_a_different_yacht</name>
        <label>MP Sale Error Please select a different yacht.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>&quot;Error: Duplicate entry — this yacht is already listed under an active sale market position.&quot;</errorMessage>
            <fieldSelection>Yacht__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Changed_status_reason_equals_inactive_sale</name>
        <label>Changed status reason equals inactive sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Existing_News_Ticker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_reason_not_equal_to_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_position_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Existing_News_Ticker</targetReference>
            </connector>
            <label>Changed reason not equal to inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Existing_News_Ticker</name>
        <label>Copy 1 of Existing News Ticker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_News_Ticker_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_existing_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewsTicker.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_News_Ticker</targetReference>
            </connector>
            <label>Copy 1 of Yes existing record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_News_Ticker</name>
        <label>Existing News Ticker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_MP_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_existing_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewsTicker.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_News_Ticker</targetReference>
            </connector>
            <label>Yes existing record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_price_changed</name>
        <label>Has the price changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Have_key_fields_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_price_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Askingprice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Askingprice__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPreviousPrice</targetReference>
            </connector>
            <label>Yes the price has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_Status_Reason_changed</name>
        <label>Has the Status Reason changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignPreEventName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status reason hasn&apos;t changed</defaultConnectorLabel>
        <rules>
            <name>Yes_status_reason_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMPName</targetReference>
            </connector>
            <label>Status reason has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_key_fields_changed</name>
        <label>Have key fields changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_MP_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_key_fields_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Askingprice__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asking_currency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Selling_Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brokerage_House__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Selling_Broker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_updated_date</targetReference>
            </connector>
            <label>Yes key fields changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_IsUpdate</name>
        <label>IsNew/IsUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_the_Status_Reason_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MP</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserGoldclipperIntegration</name>
        <label>IsUserGoldclipperIntegration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetNewsTicker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_GCI_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>goldclipper_integration@burgessyachts.com</stringValue>
                </rightValue>
            </conditions>
            <label>Yes is GCI User</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsYachtNameAtEventChanged</name>
        <label>IsYachtNameAtEventChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_the_price_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_lowercase_characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForNameAtEventUCvsPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMPYachtEventChangeUpper</targetReference>
            </connector>
            <label>Yes lowercase characters</label>
        </rules>
    </decisions>
    <decisions>
        <description>yacht already exist?
Where MP Type equals sale, yacht ref is same, Status Reason not equal to Inactive</description>
        <name>Market_Position_Exist_Charter</name>
        <label>Market Position Exist Charter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_charter_Yacht</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MP Not Exist for Charter</defaultConnectorLabel>
        <rules>
            <name>MP_Exist_for_Charter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_Position_Charter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MP_Charter_Error_Please_select_a_different_yacht</targetReference>
            </connector>
            <label>MP Exist for Charter</label>
        </rules>
    </decisions>
    <decisions>
        <description>yacht already exist?
Where MP Type equals sale, yacht ref is same, Status Reason not equal to Inactive</description>
        <name>Market_Position_Exist_Sale</name>
        <label>Market Position Exist Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Sale_Yacht</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MP Not Exist for sale</defaultConnectorLabel>
        <rules>
            <name>MP_Exist_for_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_Position_Sale.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MP_Sale_Error_Please_select_a_different_yacht</targetReference>
            </connector>
            <label>MP Exist for Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Sale</name>
        <label>New Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Sale_Charter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sale_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_position_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_News_Ticker_New</targetReference>
            </connector>
            <label>New Sale Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Sale_Charter</name>
        <label>New Sale/Charter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sale_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_position_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Market_Position_Sale</targetReference>
            </connector>
            <label>New Sale Record</label>
        </rules>
        <rules>
            <name>New_Charter_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_position_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Charter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Market_Position_Charter</targetReference>
            </connector>
            <label>New Charter Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_status_reason_equals_inactive</name>
        <label>New status reason equals inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Sale_Charter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_reason_not_equal_to_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sale</targetReference>
            </connector>
            <label>New reason not equal to inactive</label>
        </rules>
    </decisions>
    <description>Adding goldclipper integration user exit path</description>
    <environments>Default</environments>
    <formulas>
        <name>ForBurgessSeller</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.Selling_Opportunity__c}) = TRUE,
&quot;&quot;,
&quot;BURGESS&quot;
)</expression>
    </formulas>
    <formulas>
        <description>upper case of yacht name at event for a new mp</description>
        <name>ForMPYachtNameAtEventUpperNEW</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Yacht__r.Name})</expression>
    </formulas>
    <formulas>
        <name>FORName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Yacht__r.Name}+&apos; &apos;+TEXT({!$Record.Market_position_type__c})+&apos; &apos;+TEXT({!$Record.Status_Reason__c})</expression>
    </formulas>
    <formulas>
        <name>ForNameAtEventUCvsPC</name>
        <dataType>Boolean</dataType>
        <expression>{!VarEventNamePrior} = upper({!VarEventNameOnSave})
&amp;&amp;
{!VarEventNameOnSave} = upper({!VarEventNameOnSave})</expression>
    </formulas>
    <formulas>
        <name>FORYachtNameAtEventChanged</name>
        <dataType>String</dataType>
        <expression>UPPER({!VarEventNameOnSave})</expression>
    </formulas>
    <interviewLabel>CRUOTM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MarketPositionCRU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_News_Ticker_New</name>
        <label>Copy 1 of Create News Ticker New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Existing_MP_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Asking_Currency__c</field>
            <value>
                <elementReference>$Record.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Burgess__c</field>
            <value>
                <elementReference>ForBurgessSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Previous_Asking_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Opportunity__c</field>
            <value>
                <elementReference>$Record.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>$Record.Status_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Id__c</field>
            <value>
                <elementReference>$Record.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>$Record.Yacht__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>News_Ticker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_News_Ticker_New</name>
        <label>Create News Ticker New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Sale_Charter</targetReference>
        </connector>
        <inputAssignments>
            <field>Asking_Currency__c</field>
            <value>
                <elementReference>$Record.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Burgess__c</field>
            <value>
                <elementReference>ForBurgessSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Previous_Asking_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Opportunity__c</field>
            <value>
                <elementReference>$Record.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>$Record.Status_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Id__c</field>
            <value>
                <elementReference>$Record.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>$Record.Yacht__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>News_Ticker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_News_Ticker</name>
        <label>Delete News Ticker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Existing_MP_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>News_Ticker__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Market_Position_Charter</name>
        <label>Get Market Position Charter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Position_Exist_Charter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Charter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Yacht_ref_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht_ref_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Position_Sale</name>
        <label>Get Market Position Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Position_Exist_Sale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Yacht_ref_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht_ref_number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewsTicker</name>
        <label>GetNewsTicker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNew_IsUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>News_Ticker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_charter_Yacht</name>
        <label>Update charter Yacht</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Charter_MP__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Yacht__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_MP_record</name>
        <label>Update Existing MP record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MP</name>
        <label>Update MP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_status_reason_equals_inactive</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_name_at_event__c</field>
            <value>
                <elementReference>ForMPYachtNameAtEventUpperNEW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_News_Ticker</name>
        <label>Update News Ticker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Existing_MP_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Market_position_type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asking_Currency__c</field>
            <value>
                <elementReference>$Record.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Burgess__c</field>
            <value>
                <elementReference>ForBurgessSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Previous_Asking_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Opportunity__c</field>
            <value>
                <elementReference>$Record.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>$Record.Status_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>News_Ticker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sale_Yacht</name>
        <label>Update Sale Yacht</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Sale_MP__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Yacht__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsUserGoldclipperIntegration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_position_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Market_Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarEventNameOnSave</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEventNamePrior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
