force-app/main/default/flows/Currency_API_Object_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AUDCurrencyCallOut</name>
        <label>AUDCurrencyCallOut</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <actionName>AUDCurrencyCallout.AUDCurrencyCalloutGET</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AUDCallOutSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <stringValue>cur_live_zxqRbgRypR5kNcJMf3PkDpwN3vpK5PYfUHL4AgdN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <stringValue>EUR,GBP,USD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AUDCurrencyCallout.AUDCurrencyCalloutGET</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>EURCurrencyCallOut</name>
        <label>EURCurrencyCallOut</label>
        <locationX>611</locationX>
        <locationY>684</locationY>
        <actionName>EURCurrencyCallOut.EURCurrencyGet</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>EURCallOutSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <stringValue>cur_live_zxqRbgRypR5kNcJMf3PkDpwN3vpK5PYfUHL4AgdN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <stringValue>USD,GBP,AUD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EURCurrencyCallOut.EURCurrencyGet</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GBPCurrencyCallout</name>
        <label>GBPCurrencyCallout</label>
        <locationX>380</locationX>
        <locationY>1008</locationY>
        <actionName>GBPCurrencyCallOut.GBPCurrencyCallOutGET</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>GBPCallOutSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <stringValue>cur_live_zxqRbgRypR5kNcJMf3PkDpwN3vpK5PYfUHL4AgdN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <stringValue>EUR,USD,AUD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GBPCurrencyCallOut.GBPCurrencyCallOutGET</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>USDCurrencyCallOut</name>
        <label>USDCurrencyCallOut</label>
        <locationX>858</locationX>
        <locationY>360</locationY>
        <actionName>currencyAPI.GET Currencies</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>USDCallOutSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <stringValue>cur_live_zxqRbgRypR5kNcJMf3PkDpwN3vpK5PYfUHL4AgdN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>base_currency</name>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencies</name>
            <value>
                <stringValue>EUR,GBP,AUD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>currencyAPI.GET Currencies</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Currency_IDs</name>
        <label>Assign Currency IDs</label>
        <locationX>50</locationX>
        <locationY>2844</locationY>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_AUD_EUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_AUD_GBP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_AUD_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_EUR_AUD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_EUR_GBP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_EUR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_GBP_AUD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_GBP_EUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_GBP_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_USD_GBP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_USD_EUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCurrencyRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_USD_AUD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pause_5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AUDCallOutSuccessful</name>
        <label>AUDCallOutSuccessful</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_AUDCallOutSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AUDCurrencyCallOut.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_USD_AUD</targetReference>
            </connector>
            <label>Outcome AUDCallOutSuccessful</label>
        </rules>
    </decisions>
    <decisions>
        <name>EURCallOutSuccessful</name>
        <label>EURCallOutSuccessful</label>
        <locationX>611</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_EURCallOutSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EURCurrencyCallOut.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_3</targetReference>
            </connector>
            <label>Outcome EURCallOutSuccessful</label>
        </rules>
    </decisions>
    <decisions>
        <name>GBPCallOutSuccessful</name>
        <label>GBPCallOutSuccessful</label>
        <locationX>380</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_GBPCallOutSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GBPCurrencyCallout.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_4</targetReference>
            </connector>
            <label>Outcome GBPCallOutSuccessful</label>
        </rules>
    </decisions>
    <decisions>
        <name>USDCallOutSuccessful</name>
        <label>USDCallOutSuccessful</label>
        <locationX>858</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_USDCallOutSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>USDCurrencyCallOut.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_2</targetReference>
            </connector>
            <label>Outcome 1 of USDCallOutSuccessful</label>
        </rules>
    </decisions>
    <description>Currency API Object Update from currencyapi.com using external services and http call put. Doesn&apos;t include mdt update</description>
    <environments>Default</environments>
    <formulas>
        <name>FORAUD_EUR</name>
        <dataType>Number</dataType>
        <expression>If(
{!AUDCurrencyCallOut.2XX.data.EUR.code}= &quot;EUR&quot;,
{!AUDCurrencyCallOut.2XX.data.EUR.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORAUD_GBP</name>
        <dataType>Number</dataType>
        <expression>If(
{!AUDCurrencyCallOut.2XX.data.GBP.code}= &quot;GBP&quot;,
{!AUDCurrencyCallOut.2XX.data.GBP.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORAUD_USD</name>
        <dataType>Number</dataType>
        <expression>If(
{!AUDCurrencyCallOut.2XX.data.USD.code}= &quot;USD&quot;,
{!AUDCurrencyCallOut.2XX.data.USD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FOREUR_AUD</name>
        <dataType>Number</dataType>
        <expression>If(
{!EURCurrencyCallOut.2XX.data.AUD.code}= &quot;AUD&quot;,
{!EURCurrencyCallOut.2XX.data.AUD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FOREUR_GBP</name>
        <dataType>Number</dataType>
        <expression>If(
{!EURCurrencyCallOut.2XX.data.GBP.code}= &quot;GBP&quot;,
{!EURCurrencyCallOut.2XX.data.GBP.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FOREUR_USD</name>
        <dataType>Number</dataType>
        <expression>If(
{!EURCurrencyCallOut.2XX.data.USD.code}= &quot;USD&quot;,
{!EURCurrencyCallOut.2XX.data.USD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORGBP_AUD</name>
        <dataType>Number</dataType>
        <expression>If(
{!GBPCurrencyCallout.2XX.data.AUD.code}= &quot;AUD&quot;,
{!GBPCurrencyCallout.2XX.data.AUD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORGBP_EUR</name>
        <dataType>Number</dataType>
        <expression>If(
{!GBPCurrencyCallout.2XX.data.EUR.code}= &quot;EUR&quot;,
{!GBPCurrencyCallout.2XX.data.EUR.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORGBP_USD</name>
        <dataType>Number</dataType>
        <expression>If(
{!GBPCurrencyCallout.2XX.data.USD.code}= &quot;USD&quot;,
{!GBPCurrencyCallout.2XX.data.USD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORUSD_AUD</name>
        <dataType>Number</dataType>
        <expression>If(
{!USDCurrencyCallOut.2XX.data.AUD.code}= &quot;AUD&quot;,
{!USDCurrencyCallOut.2XX.data.AUD.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORUSD_EUR</name>
        <dataType>Number</dataType>
        <expression>If(
{!USDCurrencyCallOut.2XX.data.EUR.code}= &quot;EUR&quot;,
{!USDCurrencyCallOut.2XX.data.EUR.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>FORUSD_GBP</name>
        <dataType>Number</dataType>
        <expression>If(
{!USDCurrencyCallOut.2XX.data.GBP.code}= &quot;GBP&quot;,
{!USDCurrencyCallOut.2XX.data.GBP.value},
0.000
)</expression>
        <scale>10</scale>
    </formulas>
    <interviewLabel>Currency API Object Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Currency API Object Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AUD_EUR</name>
        <label>Create AUD EUR</label>
        <locationX>50</locationX>
        <locationY>2520</locationY>
        <connector>
            <targetReference>Create_AUD_GBP</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORAUD_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>AUDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AUD_GBP</name>
        <label>Create AUD GBP</label>
        <locationX>50</locationX>
        <locationY>2628</locationY>
        <connector>
            <targetReference>Create_AUD_USD</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORAUD_GBP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>AUDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AUD_USD</name>
        <label>Create AUD USD</label>
        <locationX>50</locationX>
        <locationY>2736</locationY>
        <connector>
            <targetReference>Assign_Currency_IDs</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORAUD_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>AUDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EUR_AUD</name>
        <label>Create EUR AUD</label>
        <locationX>50</locationX>
        <locationY>1872</locationY>
        <connector>
            <targetReference>Create_EUR_GBP</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FOREUR_AUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>EURCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EUR_GBP</name>
        <label>Create EUR GBP</label>
        <locationX>50</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Create_EUR_USD</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FOREUR_GBP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>EURCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EUR_USD</name>
        <label>Create EUR USD</label>
        <locationX>50</locationX>
        <locationY>2088</locationY>
        <connector>
            <targetReference>Create_GBP_AUD</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FOREUR_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>EURCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GBP_AUD</name>
        <label>Create GBP AUD</label>
        <locationX>50</locationX>
        <locationY>2196</locationY>
        <connector>
            <targetReference>Create_GBP_EUR</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORGBP_AUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>GBPCurrencyCallout.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GBP_EUR</name>
        <label>Create GBP EUR</label>
        <locationX>50</locationX>
        <locationY>2304</locationY>
        <connector>
            <targetReference>Create_GBP_USD</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORGBP_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>GBPCurrencyCallout.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GBP_USD</name>
        <label>Create GBP USD</label>
        <locationX>50</locationX>
        <locationY>2412</locationY>
        <connector>
            <targetReference>Create_AUD_EUR</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORGBP_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>GBPCurrencyCallout.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_USD_AUD</name>
        <label>Create USD AUD</label>
        <locationX>50</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Create_USD_EUR</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORUSD_AUD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>USDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_USD_EUR</name>
        <label>Create USD EUR</label>
        <locationX>50</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>Create_USD_GBP</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORUSD_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>USDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_USD_GBP</name>
        <label>Create USD GBP</label>
        <locationX>50</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>Create_EUR_AUD</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_currency__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_rate__c</field>
            <value>
                <elementReference>FORUSD_GBP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Convert_to_currency__c</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated_at__c</field>
            <value>
                <elementReference>USDCurrencyCallOut.2XX.meta.lastx5fupdatedx5fat</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pause1</targetReference>
        </connector>
        <object>Currency_rate__mdt</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-09</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewCurrencyRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause1</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause1</label>
        <locationX>858</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>USDCurrencyCallOut</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_2</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 2</label>
        <locationX>611</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>EURCurrencyCallOut</targetReference>
            </connector>
            <label>el_1</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_3</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 3</label>
        <locationX>380</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GBPCurrencyCallout</targetReference>
            </connector>
            <label>el_2</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_4</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 4</label>
        <locationX>182</locationX>
        <locationY>1224</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>AUDCurrencyCallOut</targetReference>
            </connector>
            <label>el_3</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
    <waits>
        <name>Pause_5</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Pause 5</label>
        <locationX>50</locationX>
        <locationY>2952</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <label>el_4</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
