force-app/main/default/flows/Delete_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_there_is_Data_Available_For_Inspection_Attendee_For_Delete</name>
        <label>Check If there is Data Available For Inspection Attendee For Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_Inspection_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inspection Attendee Data is Not Available</defaultConnectorLabel>
        <rules>
            <name>Inspection_Attendee_Data_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Related_Visit_Teams</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Visit_Team_Records</targetReference>
            </connector>
            <label>Inspection Attendee Data is Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Inspection_Records</name>
        <label>Delete Inspection Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Inspection_Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Visit_Team_Records</name>
        <label>Delete Visit Team Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Inspection_Records</targetReference>
        </connector>
        <inputReference>Get_All_Related_Visit_Teams</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Related_Visit_Teams</name>
        <label>Get All Related Visit Teams</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_there_is_Data_Available_For_Inspection_Attendee_For_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inspection_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Record</name>
        <label>Get Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Visit_Teams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdToDelete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inspection_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>deleteContactRoleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deleteOpportunityTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityContactRoleDeleteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRoleInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recordIdToDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitTeamREcordCollectionForOpportunityTeamDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
</Flow>
