force-app/main/default/flows/Delete_Show_Screen_Action_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_Value_of_Delete_Show</name>
        <label>Assign the Value of Delete Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>deleteShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigning_Received_List_to_a_List</name>
        <label>Assigning Received List to a List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>getRecordVariableList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_whether_the_List_is_Empty_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_whether_the_List_is_Empty_or_Not</name>
        <label>Check whether the List is Empty or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>List is Empty</defaultConnectorLabel>
        <rules>
            <name>List_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordVariableList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Value_of_Delete_Show</targetReference>
            </connector>
            <label>List is Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Show Screen Action Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Show Screen Action Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigning_Received_List_to_a_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deleteShow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getRecordVariableList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
    <variables>
        <name>selectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
</Flow>
