force-app/main/default/flows/Delete_Team_Attendee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Whether_Get_All_Inspection_Attendee_For_Deletion_is_Empty_or_Not</name>
        <label>Check Whether Get All Inspection Attendee For Deletion is Empty or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>It is Empty</defaultConnectorLabel>
        <rules>
            <name>It_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Inspection_Attendee_For_Deletion</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Inspection_Attendee</targetReference>
            </connector>
            <label>It is Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Team Attendee Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Team Attendee Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_All_Inspection_Attendee</name>
        <label>Delete All Inspection Attendee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_All_Inspection_Attendee_For_Deletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Inspection_Attendee_For_Deletion</name>
        <label>Get All Inspection Attendee For Deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Get_All_Inspection_Attendee_For_Deletion_is_Empty_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>teamAttendeeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Inspection_Attendee_For_Deletion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>teamAttendeeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
