force-app/main/default/flows/Edit_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_All_Yacht_Ids_in_a_Collection</name>
        <label>Assign All Yacht Ids in a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>YachtIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Yacht_Proposed.Yacht__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Yacht_Proposed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutPutMessage</name>
        <label>OutPutMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MessageOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>defaultPicklistChoice</name>
        <choiceText>{!Get_Inspection_Record_To_Edit.Yacht__r.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Inspection_Record_To_Edit.Yacht__c</elementReference>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Record_type</name>
        <label>Check Record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Yacht_Proposed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Broker_Purchase</defaultConnectorLabel>
        <rules>
            <name>Broker_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Market_position_Sale</targetReference>
            </connector>
            <label>Broker Sale</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stageChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YachtRecordCollectionSet</name>
        <collectionReference>Get_All_Yacht_Records_Related_to_Yacht_Proposed</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Yacht__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>yachtNameFormula</name>
        <dataType>String</dataType>
        <expression> {!Get_Selected_Yacht_Record.Name} &amp; &apos; Inspection &apos; &amp; TEXT(DATEVALUE({!Start_Time}))</expression>
    </formulas>
    <formulas>
        <name>YachtNameFormulaSale</name>
        <dataType>String</dataType>
        <expression>{!Get_Market_position_Sale.Yacht__r.Name} &amp; &apos; Inspection &apos; &amp; TEXT(DATEVALUE({!Copy_1_of_Start_Time}))</expression>
    </formulas>
    <interviewLabel>Edit Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Inspection Flow</label>
    <loops>
        <name>Loop_on_Yacht_Proposed</name>
        <label>Loop on Yacht Proposed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Yacht_Proposed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_All_Yacht_Ids_in_a_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Yacht_Records_Related_to_Yacht_Proposed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Yacht_Records_Related_to_Yacht_Proposed</name>
        <label>Get All Yacht Records Related to Yacht Proposed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>YachtIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Yacht__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Record_To_Edit</name>
        <label>Get Inspection Record To Edit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opportunity_of_Inspection_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedInspectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_position_Sale</name>
        <label>Get Market position_Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Inspection_sale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selling_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Opportunity_of_Inspection_Selected.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inspection_Record_To_Edit.Yacht__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Opportunity_of_Inspection_Selected.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity_of_Inspection_Selected</name>
        <label>Get Related Opportunity of Inspection Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inspection_Record_To_Edit.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Yacht_Proposed</name>
        <label>Get Related Yacht Proposed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Yacht_Proposed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Yacht_Record</name>
        <label>Get Selected Yacht Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_The</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Yacht</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Yacht__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_The</name>
        <label>Update The Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OutPutMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedInspectionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>yachtNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>StagePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>Yacht</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_Inspection_Record_Sale</name>
        <label>Update The Inspection Record Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OutPutMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedInspectionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>Copy_1_of_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Copy_1_of_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>YachtNameFormulaSale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Copy_1_of_StagePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Copy_1_of_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>Get_Inspection_Record_To_Edit.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection__c</object>
    </recordUpdates>
    <screens>
        <name>Update_Inspection</name>
        <label>Update Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Yacht_Record</targetReference>
        </connector>
        <fields>
            <name>Yacht</name>
            <choiceReferences>YachtRecordCollectionSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultPicklistChoice</elementReference>
            </defaultValue>
            <fieldText>Yacht</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Location__c</elementReference>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Start_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.End_Time__c</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;4&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(231, 17, 27);&quot;&gt;The End Date must be after the Start Date.&lt;/span&gt;321&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_Time} &gt; {!Start_Time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>StagePicklist</name>
            <choiceReferences>stageChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Stage__c</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Inspection</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Inspection_sale</name>
        <label>Update Inspection sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_The_Inspection_Record_Sale</targetReference>
        </connector>
        <fields>
            <name>YachtSale</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Yacht__r.Name</elementReference>
            </defaultValue>
            <fieldText>Yacht</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Location__c</elementReference>
            </defaultValue>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Start_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.End_Time__c</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;4&lt;span style=&quot;color: rgb(231, 17, 27); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;The End Date must be after the Start Date.&lt;/span&gt;321&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Copy_1_of_End_Time} &gt; {!Copy_1_of_Start_Time}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_StagePicklist</name>
            <choiceReferences>stageChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Inspection_Record_To_Edit.Stage__c</elementReference>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Inspection</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inspection_Record_To_Edit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MessageOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedInspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
