force-app/main/default/flows/Edit_Team_Attendee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Instance_of_Inspection_Attendee_For_Update</name>
        <label>Assign Record Instance of Inspection Attendee For Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inspectionAttendeeRecordInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Associates_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Instance_of_Inspection_Attendee_For_Update_Having_User</name>
        <label>Assign Record Instance of Inspection Attendee For Update Having User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inspectionAttendeeRecordInstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inspectionAttendeeRecordInstance.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Record_Instance_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Record_Instance_to_a_Collection</name>
        <label>Assigning Record Instance to a Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inspectionAttendeeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inspectionAttendeeRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inspection_Attendee_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Burgess</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Burgess&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Burgess</stringValue>
        </value>
    </choices>
    <choices>
        <name>External</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;External&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Whether_it_Contains_Contact_Or_User_In_It</name>
        <label>Check Whether it Contains Contact Or User In It</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Instance_of_Inspection_Attendee_For_Update_Having_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Available</defaultConnectorLabel>
        <rules>
            <name>Contact_Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Instance_of_Inspection_Attendee_For_Update</targetReference>
            </connector>
            <label>Contact Is Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Edit Team Attendee Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Team Attendee Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inspection_Inspection_Team_Attendee_For_Update</name>
        <label>Get Inspection Inspection Team Attendee For Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>editAttendeeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inspection_Attendee_Records</name>
        <label>Update Inspection Attendee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>inspectionAttendeeCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Inspection_Screen</name>
        <label>Inspection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Whether_it_Contains_Contact_Or_User_In_It</targetReference>
        </connector>
        <fields>
            <name>Inspection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ReportsToId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Associates_Roles</name>
                    <choiceReferences>choiceRole</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Role__c</elementReference>
                    </defaultValue>
                    <fieldText>Associates Roles</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Contact__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inspection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.User__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Team_Roles</name>
                    <choiceReferences>Burgess</choiceReferences>
                    <choiceReferences>External</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Inspection_Inspection_Team_Attendee_For_Update.Role__c</elementReference>
                    </defaultValue>
                    <fieldText>Team Roles</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Inspection_Inspection_Team_Attendee_For_Update.User__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update Attendee</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inspection_Inspection_Team_Attendee_For_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>editAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inspectionAttendeeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
    <variables>
        <name>inspectionAttendeeRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
</Flow>
