force-app/main/default/flows/EnquiryCRUFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_the_Lead</name>
        <label>Convert the Lead</label>
        <locationX>2118</locationX>
        <locationY>2951</locationY>
        <actionName>LeadConvertFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateWonEnquiry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Won_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
        </inputParameters>
        <inputParameters>
            <name>sendEmail</name>
        </inputParameters>
        <nameSegment>LeadConvertFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assgin_Lookup</name>
        <label>AssignLookup</label>
        <locationX>314</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLeadInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignOwnerEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssGroupIDTest</name>
        <label>AssGroupIDTest</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>VARGroupIDTest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opp_Record_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContact</name>
        <label>AssignContact</label>
        <locationX>974</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Client_and_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPrimaryBroker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmail</name>
        <label>AssignEmail</label>
        <locationX>974</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>OwnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Updated_Enquiry.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocated_to_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingContactID</name>
        <label>AssignExistingContactID</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>VarContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLead</name>
        <label>AssignLead</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadMatch.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AssignOwnerEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwnerEnquiry</name>
        <label>AssignOwnerEnquiry</label>
        <locationX>842</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VaRMetaQName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdatedIDName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwnerEnquiry_Queues</name>
        <label>AssignOwnerEnquiry(Queues)</label>
        <locationX>1106</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPrimaryBroker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdatedIDName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryBroker</name>
        <label>AssignPrimaryBroker</label>
        <locationX>974</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>VarPrimaryBroker</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount_Team.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPrimaryBroker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding type to the autonumber id</description>
        <name>AssignUpdatedIDName</name>
        <label>AssignUpdatedIDName</label>
        <locationX>974</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForUpdateName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEnquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VARMetaID_Test</name>
        <label>VARMetaID_Test</label>
        <locationX>1414</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>VarMetaIDTest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetMetadata.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VaRMetaQName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetMetadata.Enquiry_Owner_User_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMetadata.Opportunity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ReasonValueNull</name>
        <label>ReasonValueNull</label>
        <locationX>1634</locationX>
        <locationY>2027</locationY>
        <customErrorMessages>
            <errorMessage>A Reason is required when the Stage is &apos;Disqualified&apos;.</errorMessage>
            <fieldSelection>Reason__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Stagelost_missing_reason</name>
        <label>Stagelost missing reason</label>
        <locationX>2866</locationX>
        <locationY>2027</locationY>
        <customErrorMessages>
            <errorMessage>A Reason is required when the Stage is &apos;Lost&apos;.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Yacht_must_be_filled_in</name>
        <label>Yacht must be filled in</label>
        <locationX>2338</locationX>
        <locationY>2135</locationY>
        <customErrorMessages>
            <errorMessage>You must fill in a yacht to continue</errorMessage>
            <fieldSelection>Yacht_in_question__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Allocated_to_queue</name>
        <label>Allocated to queue</label>
        <locationX>974</locationX>
        <locationY>3083</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_record_allocated_to_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Enquiry.Owner:Group.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes record allocated to queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPrimaryBroker</name>
        <label>CheckPrimaryBroker</label>
        <locationX>974</locationX>
        <locationY>2243</locationY>
        <defaultConnector>
            <targetReference>AssignOwnerEnquiry_Queues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PB Not Empty</defaultConnectorLabel>
        <rules>
            <name>PB_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwnerEnquiry</targetReference>
            </connector>
            <label>PB Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactFound_NotFound</name>
        <label>ContactFound/NotFound</label>
        <locationX>710</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>AssignContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>ContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadNotFound</targetReference>
            </connector>
            <label>ContactNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_ContactFound_NotFound</name>
        <label>Copy 1 of ContactFound/NotFound</label>
        <locationX>2250</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Won_Lead</targetReference>
            </connector>
            <label>Copy 1 of ContactNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Stage</name>
        <label>Current Stage</label>
        <locationX>2448</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualified_Reason</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_enq</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_for_lost_is_blank</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disqualified_Reason</name>
        <label>Disqualified Reason</label>
        <locationX>1502</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>ReasonValueNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reason not selected</defaultConnectorLabel>
        <rules>
            <name>Disqualified_Reason_A</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incomplete Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spam Data</stringValue>
                </rightValue>
            </conditions>
            <label>Disqualified Reason A</label>
        </rules>
    </decisions>
    <decisions>
        <name>ENQ_already_has_contact_ID</name>
        <label>ENQ already has contact ID</label>
        <locationX>1414</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>ContactMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_already_has_contact_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExistingContactID</targetReference>
            </connector>
            <label>Yes already has contact ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Process</name>
        <label>Enquiry Process</label>
        <locationX>2536</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Process to be confirmed</defaultConnectorLabel>
        <rules>
            <name>Current_Process_Agreed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buying a yacht</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling a yacht</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMetadata</targetReference>
            </connector>
            <label>Current Process Agreed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_enquiry</name>
        <label>Is this a new enquiry</label>
        <locationX>1414</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Current_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Enquiry</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spam_Routine</targetReference>
            </connector>
            <label>Yes New Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_yacht_Filled_in</name>
        <label>Is yacht Filled in</label>
        <locationX>2206</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>Yacht_must_be_filled_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_yacht_is_filled_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Yacht_in_question__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MP_Record</targetReference>
            </connector>
            <label>Yes the yacht is filled in</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadNotFound</name>
        <label>LeadNotFound</label>
        <locationX>446</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>AssignLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadMatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLead</targetReference>
            </connector>
            <label>LeadNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_for_lost_is_blank</name>
        <label>Reason for lost is blank</label>
        <locationX>2998</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_in_reason_for_lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stagelost_missing_reason</targetReference>
            </connector>
            <label>Add in reason for lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spam_Routine</name>
        <label>Spam Routine</label>
        <locationX>380</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>ContactFound_NotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spam_hit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Spam_match.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_spam</targetReference>
            </connector>
            <label>Spam hit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_enq</name>
        <label>Type of enq</label>
        <locationX>2250</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_broker_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buying a yacht</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ContactFound_NotFound</targetReference>
            </connector>
            <label>Yes broker Purchase</label>
        </rules>
        <rules>
            <name>Yes_Broker_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enquiry_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling a yacht</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_yacht_Filled_in</targetReference>
            </connector>
            <label>Yes Broker Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>WonScreenFlows</name>
        <label>WonScreenFlows</label>
        <locationX>2250</locationX>
        <locationY>3683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Purchase_Screenflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMetadata.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Purchase</stringValue>
                </rightValue>
            </conditions>
            <label>Broker Purchase Screenflow</label>
        </rules>
    </decisions>
    <description>Updating contact type to single PL from Multi PL</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <formulas>
        <name>ForClientAccountName</name>
        <dataType>String</dataType>
        <expression>IF
(
ISBLANK({!$Record.First_Name__c}) = TRUE,
{!$Record.Last_Name__c}&amp;&quot;: Client Record&quot;,
{!$Record.First_Name__c}&amp;&quot; &quot;&amp;{!$Record.Last_Name__c}&amp;&quot;: Client Record&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ForCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(),12)</expression>
    </formulas>
    <formulas>
        <name>ForEnquiryLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340}))&amp;{!Get_Updated_Enquiry.Id}</expression>
    </formulas>
    <formulas>
        <name>ForOppNameGenerator</name>
        <dataType>String</dataType>
        <expression>IF(
text({!$Record.Enquiry_Type__c}) = &quot;Buying a yacht&quot;,
&quot;Broker Purchase: &quot;&amp; {!$Record.Client_and_Company__r.Name}+&apos; &apos;+TEXT(MONTH(TODAY()))+&apos; &apos;+TEXT(YEAR(TODAY())),
IF(
Text({!$Record.Enquiry_Type__c}) = &quot;Selling a yacht&quot;,
&quot;Broker Sale: &quot;&amp; {!$Record.Yacht_in_question__r.Name}+&apos; &apos;+TEXT(MONTH(TODAY()))+&apos; &apos;+TEXT(YEAR(TODAY())),
&quot;&quot;
))</expression>
    </formulas>
    <formulas>
        <description>for the new enquiry email</description>
        <name>ForSubjectLine</name>
        <dataType>String</dataType>
        <expression>&quot;You have a new&quot;+ {!GetMetadata.Enquiry_Type__c} +&quot;enquiry&quot;</expression>
    </formulas>
    <formulas>
        <name>ForUpdateName</name>
        <dataType>String</dataType>
        <expression>IF
(ISBLANK ( TEXT({!$Record.Enquiry_Source__c} )) = FALSE ,
{!$Record.First_Name__c}+&quot; &quot;
+{!$Record.Last_Name__c}+&quot; -  &quot;
+text({!$Record.Enquiry_Source__c})+&quot; - &quot;+
TEXT({!$Record.Enquiry_Type__c})+&quot; : &quot;
+text(DAY({!$Flow.CurrentDate}))+&quot; &quot;
+CASE(MONTH({!$Flow.CurrentDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;None&quot;)+&quot; &quot;
+text(YEAR({!$Flow.CurrentDate}))
,
{!$Record.First_Name__c}+&quot; &quot;
+{!$Record.Last_Name__c}+&quot; - &quot;
+TEXT({!$Record.Enquiry_Type__c})+&quot; : &quot;
+text(DAY({!$Flow.CurrentDate}))+&quot; &quot;
+CASE(MONTH({!$Flow.CurrentDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;None&quot;)+&quot; &quot;
+text(YEAR({!$Flow.CurrentDate}))
)</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name__c} + {!$Record.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>EnquiryCRUFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EnquiryCRUFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>2118</locationX>
        <locationY>2735</locationY>
        <assignRecordIdToReference>VarContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Contact_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>When opp. created then create OppContactRole with Role = Decision Maker.</description>
        <name>Create_Opp_Con_Role</name>
        <label>Create Opp Con Role</label>
        <locationX>2250</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>Create_Opp_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isubo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Team</name>
        <label>Create Opp Team</label>
        <locationX>2250</locationX>
        <locationY>3467</locationY>
        <connector>
            <targetReference>Update_Enquiry_OppLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Primary Sales Broker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>2250</locationX>
        <locationY>3251</locationY>
        <connector>
            <targetReference>Create_Opp_Con_Role</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>ForCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ForOppNameGenerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opp_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Enquiry_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>GetMetadata.Opportunity_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateLead</name>
        <label>CreateLead</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <assignRecordIdToReference>VaRNewLeadId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewLeadInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>ForClientAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>ContactMatch</name>
        <label>ContactMatch</label>
        <locationX>1546</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>1 OR  ( 2 AND 3 AND 4 )</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MP_Record</name>
        <label>Get MP Record</label>
        <locationX>2074</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_ContactFound_NotFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Yacht_in_question__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Contact_Info</name>
        <label>Get New Contact Info</label>
        <locationX>2118</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_the_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record_ID</name>
        <label>Get Opp Record ID</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ENQ_already_has_contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOppRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Email</name>
        <label>Get Owner Email</label>
        <locationX>974</locationX>
        <locationY>2867</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Enquiry.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>1414</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssGroupIDTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VaRMetaQName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Enquiry</name>
        <label>Get Updated Enquiry</label>
        <locationX>974</locationX>
        <locationY>2759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Client_and_Company__c</queriedFields>
        <queriedFields>Enquiry_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Won_Lead</name>
        <label>Get Won Lead</label>
        <locationX>2118</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>1414</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount_Team</name>
        <label>Get Account Team</label>
        <locationX>1414</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMetadata.Owning_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Sales Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMetadata</name>
        <label>GetMetadata</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VARMetaID_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enquiry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enquiry_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry_Type__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewLeadInfo</name>
        <label>GetNewLeadInfo</label>
        <locationX>314</locationX>
        <locationY>2243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assgin_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VaRNewLeadId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LeadMatch</name>
        <label>LeadMatch</label>
        <locationX>1414</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Spam_match</targetReference>
        </connector>
        <filterLogic>1 OR  ( 2 AND 3 AND 4 )</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Spam_match</name>
        <label>Spam match</label>
        <locationX>1414</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_new_enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spam Data</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry_OppLookup</name>
        <label>Update Enquiry(OppLookup)</label>
        <locationX>2250</locationX>
        <locationY>3575</locationY>
        <connector>
            <targetReference>WonScreenFlows</targetReference>
        </connector>
        <inputAssignments>
            <field>Converted_Opportunity__c</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_spam</name>
        <label>Update spam enq</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadMatch.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VaRMetaQName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Spam Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnquiry</name>
        <label>UpdateEnquiry</label>
        <locationX>974</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>Get_Updated_Enquiry</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWonEnquiry</name>
        <label>UpdateWonEnquiry</label>
        <locationX>2118</locationX>
        <locationY>3059</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_and_Company__c</field>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2410</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enquiry_Process</targetReference>
        </connector>
        <object>Enquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailNewEnquiry</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have a new enquiry in your workflow &amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;Type: {!Get_Updated_Enquiry.Enquiry_Type__c} &amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;First Name: {!Get_Updated_Enquiry.First_Name__c} &amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;Last Name: {!Get_Updated_Enquiry.Last_Name__c} &amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;Salesforce Record: &amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;{!ForEnquiryLink}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARCreateLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARGroupIDTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMetaIDTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VaRMetaQName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VaRNewLeadId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>VarOppRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPrimaryBroker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
