force-app/main/default/flows/Get_Related_Team_Members_of_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_all_Related_Visit_Team_Members</name>
        <label>Assign all Related Visit Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>visitTeamCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Team_Members_of_the_Inspection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Whether_Collection_is_Empty_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_tableShow_Value_true</name>
        <label>Assign tableShow Value true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tableShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Whether_Collection_is_Empty_or_Not</name>
        <label>Check Whether Collection is Empty or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>visitTeamCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_tableShow_Value_true</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Related Team Members of Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Team_Members_of_the_Inspection</name>
        <label>Get Related Team Members of the Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_all_Related_Visit_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedVisitRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Team_Members_of_the_Inspection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>passedVisitRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tableShow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>visitTeamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection_Attendee__c</objectType>
    </variables>
</Flow>
