force-app/main/default/flows/Inspection_Related_Data_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Type_of_Opp</name>
        <label>Type of Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Inspection_Related_to_the_Opportunity</targetReference>
            </connector>
            <label>Broker_Purchase</label>
        </rules>
        <rules>
            <name>Broker_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MP_Record</targetReference>
            </connector>
            <label>Broker_Sale</label>
        </rules>
    </decisions>
    <description>Updating from OTM to MP for purchase</description>
    <environments>Default</environments>
    <formulas>
        <name>hasSelectionFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Inspection_Data_table.firstSelectedRow.Id}!=null, true, false)</expression>
    </formulas>
    <formulas>
        <name>hasSelectionFormulaSale</name>
        <dataType>Boolean</dataType>
        <expression>IF({!SaleInpsectionDataTable.firstSelectedRow.Id}!=null, true, false)</expression>
    </formulas>
    <interviewLabel>Inspection Related Data Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Inspection Related Data Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Inspection_Related_to_the_Opportunity</name>
        <label>Get All Inspection Related to the Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_Position__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspections_for_Sale_opp</name>
        <label>Get Inspections for Sale opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sale_Inspection_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MP_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_Position__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Opportunity_Name__c</queriedFields>
        <queriedFields>Sentiment__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>Inspection_Name_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MP_Record</name>
        <label>Get MP Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inspections_for_Sale_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selling_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record_Types</name>
        <label>Get Opp Record Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Inspection_Screen</name>
        <label>Inspection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>Get_Related_Team_Members</name>
            <actionName>Get_Related_Team_Members_of_Inspection</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>passedVisitRecordId</name>
                <value>
                    <elementReference>Inspection_Data_table.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Related Team Members of Inspection</label>
            <nameSegment>Get_Related_Team_Members_of_Inspection</nameSegment>
        </actions>
        <actions>
            <name>deleteButtonScreenAction</name>
            <actionName>Delete_Show_Screen_Action_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>selectedRow</name>
                <value>
                    <elementReference>Visit_Team_Member_Datatable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>Delete Show Screen Action Flow</label>
            <nameSegment>Delete_Show_Screen_Action_Flow</nameSegment>
        </actions>
        <actions>
            <name>ScreenActionForInspectionEdit</name>
            <actionName>Screen_Action_Flow_for_Inspection_Edit</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>recordIdOfInspection</name>
                <value>
                    <elementReference>Inspection_Data_table.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <label>Screen Action Flow for Inspection Edit</label>
            <nameSegment>Screen_Action_Flow_for_Inspection_Edit</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InspectionHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Inspections&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inspection_Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inspections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Inspection_Related_to_the_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Inspection_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-42cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Inspection Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Yacht_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-32ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Yacht&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Yacht Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Stage__c&quot;,&quot;guid&quot;:&quot;column-2604&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Time__c&quot;,&quot;guid&quot;:&quot;column-081e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;End_Time__c&quot;,&quot;guid&quot;:&quot;column-ae84&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Location__c&quot;,&quot;guid&quot;:&quot;column-c995&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Location&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Inspection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inspection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mergeInspectionFlow</name>
                    <extensionName>c:mergedInspectionFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecords</name>
                        <value>
                            <elementReference>ScreenActionForInspectionEdit.Results.InspectionRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hasSelection</name>
                        <value>
                            <elementReference>hasSelectionFormula</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AttendeeHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Attendees&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Related_Team_Members.Results.tableShow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visit_Team_Member_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Inspection_Attendee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Team Attendees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Team_Members.Results.visitTeamCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-8a9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Attendee Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Visit_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-6a6b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inspection&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Visit Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-4958&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Associate Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Related_Team_Members.Results.tableShow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inspection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inspection_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeleteTeamAttendee</name>
                    <extensionName>c:deleteSelectedTeamAttendees</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>opportunityId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecords</name>
                        <value>
                            <elementReference>Visit_Team_Member_Datatable.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inspectionRecords</name>
                        <value>
                            <elementReference>ScreenActionForInspectionEdit.Results.InspectionRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Inspection_Data_table.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Inspection_Screen</eventSource>
            <handlers>
                <screenActionName>Get_Related_Team_Members</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Inspection_Data_table.firstSelectedRow.Id</eventSource>
            <handlers>
                <screenActionName>Get_Related_Team_Members</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Inspection_Screen</eventSource>
            <handlers>
                <screenActionName>deleteButtonScreenAction</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Visit_Team_Member_Datatable.selectedRows</eventSource>
            <handlers>
                <screenActionName>deleteButtonScreenAction</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Inspection_Screen</eventSource>
            <handlers>
                <screenActionName>ScreenActionForInspectionEdit</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Inspection_Data_table.firstSelectedRow.Id</eventSource>
            <handlers>
                <screenActionName>ScreenActionForInspectionEdit</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Sale_Inspection_Record</name>
        <label>Sale Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>Screen_Action_Flow_for_Inspection_Edit</name>
            <actionName>Screen_Action_Flow_for_Inspection_Edit</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>recordIdOfInspection</name>
                <value>
                    <elementReference>SaleInpsectionDataTable.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <label>Screen Action Flow for Inspection Edit</label>
            <nameSegment>Screen_Action_Flow_for_Inspection_Edit</nameSegment>
        </actions>
        <actions>
            <name>Get_Related_Team_MembersSale</name>
            <actionName>Get_Related_Team_Members_of_Inspection</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>passedVisitRecordId</name>
                <value>
                    <elementReference>SaleInpsectionDataTable.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Related Team Members of Inspection</label>
            <nameSegment>Get_Related_Team_Members_of_Inspection</nameSegment>
        </actions>
        <actions>
            <name>deleteButtonScreenActionsale</name>
            <actionName>Delete_Show_Screen_Action_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>selectedRow</name>
                <value>
                    <elementReference>VisitTeam.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>Delete Show Screen Action Flow</label>
            <nameSegment>Delete_Show_Screen_Action_Flow</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SaleDisplyaHeader</name>
            <fieldText>&lt;p&gt;Inspections&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SaleInpsectionDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Inspections_for_Sale_opp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Inspection_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-f044&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inspection&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Inspection Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Opportunity_Name__c&quot;,&quot;guid&quot;:&quot;column-aca9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Start_Time__c&quot;,&quot;guid&quot;:&quot;column-1491&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inspection Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Sentiment__c&quot;,&quot;guid&quot;:&quot;column-079b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Sentiment&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sale_Inspection_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Inspection_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Inspection_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mergeInspectionFlowSale</name>
                    <extensionName>c:mergedInspectionFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecords</name>
                        <value>
                            <elementReference>Screen_Action_Flow_for_Inspection_Edit.Results.InspectionRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hasSelection</name>
                        <value>
                            <elementReference>hasSelectionFormulaSale</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sale_Inspection_Record_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Inspection_Record_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attendees</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Attendees&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>VisitTeam</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Inspection_Attendee__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Related_Team_MembersSale.Results.visitTeamCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-c4ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Attendee Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Visit_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-f8bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inspection&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Visit Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-f0bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Associate Role&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Related_Team_MembersSale.Results.tableShow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sale_Inspection_Record_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Inspection_Record_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Inspection_Record_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeleteTeamAttendeeSale</name>
                    <extensionName>c:deleteSelectedTeamAttendees</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>inspectionRecords</name>
                        <value>
                            <elementReference>Screen_Action_Flow_for_Inspection_Edit.Results.InspectionRecordCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>opportunityId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecords</name>
                        <value>
                            <elementReference>VisitTeam.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SaleInpsectionDataTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Sale_Inspection_Record</eventSource>
            <handlers>
                <screenActionName>Screen_Action_Flow_for_Inspection_Edit</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>SaleInpsectionDataTable.firstSelectedRow.Id</eventSource>
            <handlers>
                <screenActionName>Screen_Action_Flow_for_Inspection_Edit</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Sale_Inspection_Record</eventSource>
            <handlers>
                <screenActionName>Get_Related_Team_MembersSale</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>SaleInpsectionDataTable.firstSelectedRow.Id</eventSource>
            <handlers>
                <screenActionName>Get_Related_Team_MembersSale</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Sale_Inspection_Record</eventSource>
            <handlers>
                <screenActionName>deleteButtonScreenActionsale</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>VisitTeam.selectedRows</eventSource>
            <handlers>
                <screenActionName>deleteButtonScreenActionsale</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refreshDataTable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
