force-app/main/default/flows/NewsTickerCreateRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssginOpp</name>
        <label>Assgin Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewsTicker.Selling_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Selling_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Asking_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asking_currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Old_Asking_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Asking_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.New_Asking_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BURGEES_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price</name>
        <label>Assign Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewsTicker.Selling_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Selling_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Asking_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asking_currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Old_Asking_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Asking_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.New_Asking_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BURGEES_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignallFields</name>
        <label>AssignallFields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewsTicker.Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Updated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Market_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Yacht_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Yacht__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewsTicker.Yacht_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Yacht__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNewsTicker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewsTickerId</name>
        <label>AssignNewsTickerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewsTicker.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewsTicker.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Ticker_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BRUGEES_Assign_Value</name>
        <label>BRUGEss Assign Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewsTicker.Burgess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BURGESS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignallFields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BURGEES_Check</name>
        <label>BURGEES Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignallFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Selling_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BRUGEES_Assign_Value</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>BURGEES_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Askingprice__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Asking_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Askingprice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Asking_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price</targetReference>
            </connector>
            <label>Price Check</label>
        </rules>
        <rules>
            <name>OppNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Selling_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssginOpp</targetReference>
            </connector>
            <label>OppNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Update</name>
        <label>Create/Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNewsTickerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewsTicker.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_News_Ticker_Record</targetReference>
            </connector>
            <label>Create Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NewsTickerCreateRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewsTickerCreateRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_News_Ticker_Record</name>
        <label>Create News Ticker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewsTicker</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetNewsTicker</name>
        <label>GetNewsTicker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>News_Ticker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Ticker_Record</name>
        <label>Update New Ticker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>NewsTicker</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Askingprice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Updated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Market_Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewsTicker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>News_Ticker__c</objectType>
    </variables>
</Flow>
