force-app/main/default/flows/OffersCRUFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignopId</name>
        <label>AssignopId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Purchase_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_outstanding_offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignoutstanding_offers_count</name>
        <label>Assignoutstanding offers count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarOutstandingOffersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_outstanding_offers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Offer_Accepted_Purchase_opp</name>
        <label>Offer Accepted Purchase opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_Accepted_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Offer Accepted Purchase</label>
        </rules>
    </decisions>
    <description>counts</description>
    <environments>Default</environments>
    <interviewLabel>OffersCRUFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OffersCRUFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_outstanding_offers</name>
        <label>Get outstanding offers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignoutstanding_offers_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offer made</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Offer__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp_count</name>
        <label>Update opp count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Offer_Accepted_Purchase_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Outstanding_offers__c</field>
            <value>
                <elementReference>VarOutstandingOffersCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Purchase_Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignopId</targetReference>
        </connector>
        <object>Offer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOutstandingOffersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
