force-app/main/default/flows/OfferScreenOnOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert</name>
        <label>Convert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CSVToLabelValueJSON</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>KYCOpportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csv</name>
            <value>
                <elementReference>Picklist.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CSVToLabelValueJSON</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Currency</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Picklist</name>
        <label>Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GlobalPicklistHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>GlobalPicklistHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Addto</name>
        <label>AddtoUBOBuyerCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarUBOBuyersConRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNewBuyerConRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUBOBuyers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUBOSellerCollection</name>
        <label>AddUBOSellerCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VARUBOSellerConRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNewSellerConRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUBOSellers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assgin</name>
        <label>Assgin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IdYacht</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnOffer.Yacht__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnOffer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selling_broker</name>
        <label>Assign selling broker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMP_for_Broker.Selling_Broker__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OfferUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpp</name>
        <label>assignOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OppCollection.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCollection.Opportunity_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCollection.Opportunity_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AskingCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_sellers</name>
        <label>Count of sellers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarSellersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetSellerUBOContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_Sellers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountofBuyers</name>
        <label>CountofBuyers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarBuyersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetUBOBuyers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_buyers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepareBuyerConRole</name>
        <label>PrepareBuyerConRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarNewBuyerConRole.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewBuyerConRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUBOBuyers.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewBuyerConRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepareSellerConRole</name>
        <label>PrepareSellerConRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarNewSellerConRole.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewSellerConRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUBOSellers.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewSellerConRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUBOSellerCollection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Any_buyer_lawyer</name>
        <label>Any buyer lawyer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateBuyerLawerConRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_buyer_lawyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRoleLawyer.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Lawyer</targetReference>
            </connector>
            <label>No buyer lawyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_seller_lawyer</name>
        <label>Any seller lawyer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateSellerLawyerConRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_seller_lawyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Seller_Lawyer.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Offer_Agreed</targetReference>
            </connector>
            <label>No seller lawyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Broker_From_What_source</name>
        <label>Broker From What source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MP_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMP_for_Broker.Selling_Broker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_selling_broker</targetReference>
            </connector>
            <label>MP Broker</label>
        </rules>
        <rules>
            <name>Offer_added_broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OfferUpdate</targetReference>
            </connector>
            <label>Offer added broker</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactId_Null</name>
        <label>ContactId Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Offer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactIsNUll</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>()</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Offer_without_Contact</targetReference>
            </connector>
            <label>ContactIsNUll</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfPressCancelButton</name>
        <label>IfPressCancelButton</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ContactId_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PressCancelButton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>PressCancelButton</label>
        </rules>
    </decisions>
    <decisions>
        <name>MP_Seller</name>
        <label>MP Seller</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ContactRoleLawyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_a_MP_seller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMP.Yacht_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSellerUBOConRole</targetReference>
            </connector>
            <label>Yes there is a MP seller</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_of_buyers</name>
        <label>No of buyers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopUBOBuyers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_buyers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarBuyersCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSellerUBOContacts</targetReference>
            </connector>
            <label>Zero buyers</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_of_Sellers</name>
        <label>No of Sellers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopUBOSellers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_sellers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarSellersCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MP_Seller</targetReference>
            </connector>
            <label>Zero sellers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_record_type</name>
        <label>Opp record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Offers</targetReference>
            </connector>
            <label>Broker_Purchase</label>
        </rules>
        <rules>
            <name>Broker_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BrokerSale</targetReference>
            </connector>
            <label>Broker_Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_was_Clicked</name>
        <label>Which Button was Clicked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfferCreateHeaderControll.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create New Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateCancel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedYachtId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Market_Position_Sale</targetReference>
            </connector>
            <label>Create New Offer</label>
        </rules>
        <rules>
            <name>Add_Offer</name>
            <conditionLogic>4 AND 2 AND ( 1 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>AddBrokerController.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferUpdateHeaderControll.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddCancel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAllOtherOfferItems</targetReference>
            </connector>
            <label>Add Offer</label>
        </rules>
        <rules>
            <name>Add_Counter</name>
            <conditionLogic>4 AND 2 AND ( 1 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>OfferUpdateHeaderControll.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Counter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddBrokerController.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Counter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterCancel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAllOtherOfferItems_Counter</targetReference>
            </connector>
            <label>Add Counter</label>
        </rules>
        <rules>
            <name>Add_Agreed</name>
            <conditionLogic>5 AND 2 AND 4 AND ( 1 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>OfferUpdateHeaderControll.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Agreed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddBrokerController.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Agreed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferTable.firstSelectedRow.Selling_Broker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelButton</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAllOtherOfferItems_Agreed</targetReference>
            </connector>
            <label>Add Agreed</label>
        </rules>
        <rules>
            <name>Add_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddBrokerController.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfferTable.firstSelectedRow.Selling_Broker__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelButton</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMP_for_Broker</targetReference>
            </connector>
            <label>Add Broker</label>
        </rules>
    </decisions>
    <description>adding seller opp to purchase process</description>
    <environments>Default</environments>
    <formulas>
        <name>AddAgreedButtonClick</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  OR(
    {!OfferUpdateHeaderControll.outputValue} = &quot;Add Agreed&quot;,
    {!AddBrokerController.outputValue} = &quot;Add Agreed&quot;
  ),
  OR(
    NOT(ISBLANK({!OfferTable.firstSelectedRow.Selling_Broker__c})),
    NOT(ISBLANK({!OfferTable.firstSelectedRow.Sale_Opportunity__c}))
  )
)</expression>
    </formulas>
    <formulas>
        <name>AddCounterButtonClick</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!OfferUpdateHeaderControll.outputValue} = &quot;Add Counter&quot;,
{!AddBrokerController.outputValue} = &quot;Add Counter&quot;
)</expression>
    </formulas>
    <formulas>
        <name>AddOfferButtonClick</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!OfferUpdateHeaderControll.outputValue} = &quot;Add Offer&quot;,
{!AddBrokerController.outputValue} = &quot;Add Offer&quot;
)</expression>
    </formulas>
    <formulas>
        <name>AllInputsValid</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  CONTAINS({!CollectionInputOfferCreate}, &apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;),
  CONTAINS({!CollectionInputOfferCreate}, &apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;),
  LEN(
    MID(
      {!CollectionInputOfferCreate},
      FIND(&apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}) 
        + FIND(&apos;&quot;value&quot;:&quot;&apos;, 
          MID(
            {!CollectionInputOfferCreate}, 
            FIND(&apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}), 
            200
          )
        ) + 7,
      18
    )
  ) = 18
)</expression>
    </formulas>
    <formulas>
        <name>AskingCurrency</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Market_Position_Sale.Asking_currency__c})</expression>
    </formulas>
    <formulas>
        <name>BokerEmpty</name>
        <dataType>Boolean</dataType>
        <expression>  AND(
ISBLANK({!OfferTable.firstSelectedRow.Selling_Broker__c}),
 ISBLANK({!OfferTable.firstSelectedRow.Sale_Opportunity__c}))&amp;&amp;
  OR(
    {!OfferUpdateHeaderControll.outputValue} = &quot;Add Agreed&quot;,
    {!AddBrokerController.outputValue} = &quot;Add Agreed&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ButtonClickAddBroker</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!OfferTable.firstSelectedRow.Selling_Broker__c})&amp;&amp;
{!AddBrokerController.outputValue} = &quot;Add Broker&quot;</expression>
    </formulas>
    <formulas>
        <name>CreateButtonClick</name>
        <dataType>Boolean</dataType>
        <expression>{!OfferCreateHeaderControll.outputValue} = &quot;Create New Offer&quot;</expression>
    </formulas>
    <formulas>
        <name>CurrencyAddAgreed</name>
        <dataType>String</dataType>
        <expression>MID(
   {!AddAgreedOutputValuesCollection},
  FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddAgreedOutputValuesCollection}) + 12,
  FIND(&apos;&quot;&apos;,  {!AddAgreedOutputValuesCollection}, FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddAgreedOutputValuesCollection}) + 12) 
    - (FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddAgreedOutputValuesCollection}) + 12)
)</expression>
    </formulas>
    <formulas>
        <name>CurrencyAddCounter</name>
        <dataType>String</dataType>
        <expression> MID(
   {!AddCounterInputValueCollection},
  FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddCounterInputValueCollection}) + 12,
  FIND(&apos;&quot;&apos;,  {!AddCounterInputValueCollection}, FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddCounterInputValueCollection}) + 12) 
    - (FIND(&apos;&quot;currency&quot;:&quot;&apos;,  {!AddCounterInputValueCollection}) + 12)
)</expression>
    </formulas>
    <formulas>
        <name>CurrencyAddOfferItem</name>
        <dataType>String</dataType>
        <expression>MID(
  {!AddOfferItemsCollection},
  FIND(&apos;&quot;currency&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 12,
  FIND(&apos;&quot;&apos;, {!AddOfferItemsCollection}, FIND(&apos;&quot;currency&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 12) 
    - (FIND(&apos;&quot;currency&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 12)
)</expression>
    </formulas>
    <formulas>
        <name>GetCurrencyByLabel</name>
        <dataType>String</dataType>
        <expression>MID(
  {!CollectionInputOfferCreate},
  FIND(&apos;&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}, FIND(&apos;&quot;currency&quot;:&apos;, {!CollectionInputOfferCreate})) + 9,
  FIND(&apos;&quot;&apos;, {!CollectionInputOfferCreate}, FIND(&apos;&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}, FIND(&apos;&quot;currency&quot;:&apos;, {!CollectionInputOfferCreate})) + 9) -
  (FIND(&apos;&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}, FIND(&apos;&quot;currency&quot;:&apos;, {!CollectionInputOfferCreate})) + 9)
)</expression>
    </formulas>
    <formulas>
        <name>GetOfferPriceByLabel</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  MID(
    {!CreateOfferPrice},
    FIND(&apos;&quot;offerPrice&quot;:&quot;&apos;, {!CreateOfferPrice}) + 14,
    FIND(&apos;&quot;&apos;, MID({!CreateOfferPrice}, FIND(&apos;&quot;offerPrice&quot;:&quot;&apos;, {!CreateOfferPrice}) + 14, 50)) - 1
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetYachtId</name>
        <dataType>String</dataType>
        <expression>MID(
  {!CollectionInputOfferCreate},
  FIND(&apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}) +
    FIND(&apos;&quot;value&quot;:&quot;&apos;, 
      MID(
        {!CollectionInputOfferCreate},
        FIND(&apos;&quot;selectedYacht&quot;:{&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}),
        200
      )
    ) + 8,
  18
)</expression>
    </formulas>
    <formulas>
        <name>KYCBrokerNull</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!OfferTable.firstSelectedRow.Selling_Broker__c}),
  ISBLANK({!KYCOpportunity.Id}),
  OR(
    {!OfferUpdateHeaderControll.outputValue} = &quot;Add Agreed&quot;,
    {!AddBrokerController.outputValue} = &quot;Add Agreed&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>PriceAddAgreed</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  MID(
    {!AddAgreedOutputValuesCollection},
    FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddAgreedOutputValuesCollection}) + 9,
    FIND(&apos;&quot;&apos;, {!AddAgreedOutputValuesCollection}, FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddAgreedOutputValuesCollection}) + 9) 
      - (FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddAgreedOutputValuesCollection}) + 9)
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PriceAddCounter</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  MID(
    {!AddCounterInputValueCollection},
    FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddCounterInputValueCollection}) + 9,
    FIND(&apos;&quot;&apos;, {!AddCounterInputValueCollection}, FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddCounterInputValueCollection}) + 9) 
      - (FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddCounterInputValueCollection}) + 9)
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PriceAddOfferItem</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  MID(
    {!AddOfferItemsCollection},
    FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 9,
    FIND(&apos;&quot;&apos;, {!AddOfferItemsCollection}, FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 9) 
      - (FIND(&apos;&quot;Price&quot;:&quot;&apos;, {!AddOfferItemsCollection}) + 9)
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TrueError</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!OfferCreateHeaderControll.outputValue} = &quot;Create New Offer&quot;,
  {!YachtChecker} = &quot;false&quot;,
  NOT(ISBLANK({!YachtChecker}))
)</expression>
    </formulas>
    <formulas>
        <name>TrueKYCEmpty</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    AND(
        ISBLANK({!OfferTable.firstSelectedRow.Selling_Broker__c}),
        ISBLANK({!OfferTable.firstSelectedRow.Sale_Opportunity__c})
    ),
    OR(
        {!OfferUpdateHeaderControll.outputValue} = &quot;Add Agreed&quot;,
        {!AddBrokerController.outputValue} = &quot;Add Agreed&quot;
    ),
    ISBLANK({!KYCOpportunity.Id})
)</expression>
    </formulas>
    <formulas>
        <name>YachtName</name>
        <dataType>String</dataType>
        <expression>MID(
    {!CollectionInputOfferCreate},
    FIND(&apos;&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}) + 9,
    FIND(&apos;&quot;,&quot;value&quot;&apos;, {!CollectionInputOfferCreate}) - FIND(&apos;&quot;label&quot;:&quot;&apos;, {!CollectionInputOfferCreate}) - 9
)</expression>
    </formulas>
    <interviewLabel>OfferScreenOnOpp. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OfferScreenOnOpp.</label>
    <loops>
        <name>LoopOnOffer</name>
        <label>LoopOnOffer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Offers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assgin</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Picklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUBOBuyers</name>
        <label>LoopUBOBuyers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetUBOBuyers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrepareBuyerConRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateBuyerUBOConRoles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopUBOSellers</name>
        <label>LoopUBOSellers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetSellerUBOContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrepareSellerConRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSellerUBOConRoles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>VarContractId</assignRecordIdToReference>
        <connector>
            <targetReference>GetKYCUBOBuyers</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>GetMP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Agreed_Amount__c</field>
            <value>
                <elementReference>PriceAddAgreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Agreed_Currency__c</field>
            <value>
                <elementReference>CurrencyAddAgreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Agreed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Opportunity__c</field>
            <value>
                <elementReference>GetMP.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Company_Name__c</field>
            <value>
                <elementReference>GetSellerCo.Yacht_Owning_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Offer</name>
        <label>Create Offer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>NewOfferId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Offer_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Asking_currency__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asking_price__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Askingprice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_price_change__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfferPrice__c</field>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_currency__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Opportunity__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Broker__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Yacht__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>SelectedYachtId</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Offer_Item</name>
        <label>Create Offer Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignOpp</targetReference>
        </connector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>NewOfferId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_c__c</field>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Yacht__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>SelectedYachtId</elementReference>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Offer_without_Contact</name>
        <label>Create Offer (without Contact)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>NewOfferId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Offer_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Asking_currency__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asking_price__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Askingprice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_price_change__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfferPrice__c</field>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_currency__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Asking_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Opportunity__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>Get_Market_Position_Sale.Yacht__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>SelectedYachtId</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateBuyerLawerConRole</name>
        <label>CreateBuyerLawerConRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Seller_Lawyer</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactRoleLawyer.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>VarContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Buyers Lawyer</stringValue>
            </value>
        </inputAssignments>
        <object>ContractContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateBuyerUBOConRoles</name>
        <label>CreateBuyerUBOConRoles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSellerUBOContacts</targetReference>
        </connector>
        <inputReference>VarUBOBuyersConRoles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOfferItems</name>
        <label>CreateOfferItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Offer</targetReference>
        </connector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyAddOfferItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_c__c</field>
            <value>
                <elementReference>PriceAddOfferItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOfferItems_Agreed</name>
        <label>CreateOfferItems(Agreed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMP</targetReference>
        </connector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyAddAgreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_c__c</field>
            <value>
                <elementReference>PriceAddAgreed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Agreed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOfferItems_Counter</name>
        <label>CreateOfferItems(Counter)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Offer_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyAddCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_c__c</field>
            <value>
                <elementReference>PriceAddCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Counter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht_Name__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yacht__c</field>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht__c</elementReference>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSellerLawyerConRole</name>
        <label>CreateSellerLawyerConRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Offer_Agreed</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Seller_Lawyer.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>VarContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Sellers Lawyer</stringValue>
            </value>
        </inputAssignments>
        <object>ContractContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSellerUBOConRole</name>
        <label>CreateSellerUBOConRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactRoleLawyer</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetMP.Yacht_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Seller</stringValue>
            </value>
        </inputAssignments>
        <object>ContractContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSellerUBOConRoles</name>
        <label>CreateSellerUBOConRoles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactRoleLawyer</targetReference>
        </connector>
        <inputReference>VARUBOSellerConRoles</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ContactRoleLawyer</name>
        <label>ContactRoleBuyerLawer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_buyer_lawyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lawyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Position_Sale</name>
        <label>Get Market Position Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOfferSecondScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedYachtId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Offers</name>
        <label>Get Offers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnOffer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Offer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Yacht_Name__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>OfferPrice__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Selling_Broker__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Offer_currency__c</queriedFields>
        <queriedFields>Last_price_change__c</queriedFields>
        <queriedFields>Counter_Price__c</queriedFields>
        <queriedFields>Agreed_Price__c</queriedFields>
        <queriedFields>Asking_price__c</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Selling_Broker_Name__c</queriedFields>
        <queriedFields>YachtName__c</queriedFields>
        <queriedFields>Name_Formula__c</queriedFields>
        <queriedFields>Sale_Opportunity__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>SobjectType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Lawyer</name>
        <label>Get Seller Lawyer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_seller_lawyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMP.Selling_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lawyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKYCBuyerCo</name>
        <label>GetKYCBuyerCo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKYCSellerCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>KYC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKYCSellerCo</name>
        <label>GetKYCSellerCo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSellerCo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMP.Selling_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>KYC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetKYCUBOBuyers</name>
        <label>GetKYCUBOBuyers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUBOBuyers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>KYC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KYC_Opportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMP</name>
        <label>GetMP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetKYCBuyerCo</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Askingprice__c</queriedFields>
        <queriedFields>Asking_price_AUD__c</queriedFields>
        <queriedFields>Asking_price_EUR__c</queriedFields>
        <queriedFields>Asking_price_GBP__c</queriedFields>
        <queriedFields>Asking_price_USD__c</queriedFields>
        <queriedFields>Selling_Opportunity__c</queriedFields>
        <queriedFields>Selling_Broker__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>Yacht_Owner__c</queriedFields>
        <queriedFields>Yacht_Owning_Company__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMP_for_Broker</name>
        <label>GetMP for Broker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Broker_From_What_source</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Yacht__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Askingprice__c</queriedFields>
        <queriedFields>Asking_price_AUD__c</queriedFields>
        <queriedFields>Asking_price_EUR__c</queriedFields>
        <queriedFields>Asking_price_GBP__c</queriedFields>
        <queriedFields>Asking_price_USD__c</queriedFields>
        <queriedFields>Selling_Opportunity__c</queriedFields>
        <queriedFields>Selling_Broker__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>Yacht_Owner__c</queriedFields>
        <queriedFields>Yacht_Owning_Company__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Ignoring KYC</description>
        <name>GetSellerCo</name>
        <label>GetSellerCo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>Yacht_Owning_Company__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSellerUBOContacts</name>
        <label>GetSellerUBOContacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_sellers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isubo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMP.Selling_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>ignoring kyc</description>
        <name>GetUBOBuyers</name>
        <label>GetUBOBuyers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountofBuyers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isubo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>KYCOpportunity</name>
        <label>KYCOpportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentOfferScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>KYC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_and_Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>KYC_Started__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OfferUpdate</name>
        <label>OfferUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Selling_Broker__c</field>
            <value>
                <elementReference>SelectContact</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Offer</name>
        <label>Update Offer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OfferPrice__c</field>
            <value>
                <elementReference>PriceAddOfferItem</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Offer_Agreed</name>
        <label>Update Offer(Agreed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opp_Value_field_if_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreed_Price__c</field>
            <value>
                <elementReference>PriceAddAgreed</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Offer_Counter</name>
        <label>Update Offer(Counter)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Counter_Price__c</field>
            <value>
                <elementReference>PriceAddCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Offer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Amount</name>
        <label>Update Opp Value field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Amount__c</field>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Currency__c</field>
            <value>
                <elementReference>AskingCurrency</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Value_field_if_blank</name>
        <label>Update Opp Value field if blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Tab_Visibility__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Amount__c</field>
            <value>
                <elementReference>GetOfferPriceByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Currency__c</field>
            <value>
                <elementReference>GetCurrencyByLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tab_Visibility__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllOtherOfferItems</name>
        <label>UpdateAllOtherOfferItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateOfferItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllOtherOfferItems_Agreed</name>
        <label>UpdateAllOtherOfferItems(Agreed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateOfferItems_Agreed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAllOtherOfferItems_Counter</name>
        <label>UpdateAllOtherOfferItems(Counter)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateOfferItems_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_c__c</field>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </inputAssignments>
        <object>Offer_Item__c</object>
    </recordUpdates>
    <screens>
        <name>CreateOfferSecondScreen</name>
        <label>CreateOfferSecondScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfPressCancelButton</targetReference>
        </connector>
        <fields>
            <name>ExtraPopUp</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Create Offer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showContactLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Create Offer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>SecondInputFields</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactId</assignToReference>
                <name>selectedContactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CreateOfferPrice</assignToReference>
                <name>fieldValuesJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CancelButton</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CurrentOfferScreen</name>
        <label>CurrentOfferScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>OfferItemsGet</name>
            <actionName>OfferItemsGet</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>OfferId</name>
                <value>
                    <elementReference>OfferTable.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <label>OfferItemsGet</label>
            <nameSegment>OfferItemsGet</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button_was_Clicked</targetReference>
        </connector>
        <fields>
            <name>OffersHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Offers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OfferTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Offer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Offer Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Offers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-4c77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Offer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;YachtName__c&quot;,&quot;guid&quot;:&quot;column-6642&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Yacht&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;YachtName&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-a6ca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Offer_currency__c&quot;,&quot;guid&quot;:&quot;column-f0af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Offer currency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asking_currency__c&quot;,&quot;guid&quot;:&quot;column-b8db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Asking currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Asking currency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asking_price__c&quot;,&quot;guid&quot;:&quot;column-7fcf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Asking Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Asking price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Last_price_change__c&quot;,&quot;guid&quot;:&quot;column-3624&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last_price_change__c&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Last price change&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;OfferPrice__c&quot;,&quot;guid&quot;:&quot;column-3c35&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Offer Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Offer Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Counter_Price__c&quot;,&quot;guid&quot;:&quot;column-c349&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Counter Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Counter Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Agreed_Price__c&quot;,&quot;guid&quot;:&quot;column-a547&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Agreed Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Agreed Price&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CurrentOfferScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CurrentOfferScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OfferCreateHeaderControll</name>
                    <extensionName>c:buttonCCTcustom</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>config</name>
                        <value>
                            <elementReference>CreateNewOfferbtn</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>customCss</name>
                        <value>
                            <elementReference>CreateOfferCssBtn</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AddBrokerController</name>
                    <extensionName>c:buttonCCTcustom</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>config</name>
                        <value>
                            <elementReference>BtnAddBroker</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>customCss</name>
                        <value>
                            <elementReference>CssAddBrokerBtn</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Selling_Broker__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Sale_Opportunity__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OfferUpdateHeaderControll</name>
                    <extensionName>c:buttonCCTcustom</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>config</name>
                        <value>
                            <elementReference>AgreedBtns</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>customCss</name>
                        <value>
                            <elementReference>CssAddBrokerBtn</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Selling_Broker__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>OfferTable.firstSelectedRow.Sale_Opportunity__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OffersItemHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Offer Items&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OfferItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Offer_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Offer Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OfferItemsGet.Results.OfferItemsCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Yacht_Name__c&quot;,&quot;guid&quot;:&quot;column-3ee4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Yacht&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Yacht Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Currency__c&quot;,&quot;guid&quot;:&quot;column-8fa8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Currency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Price_c__c&quot;,&quot;guid&quot;:&quot;column-84a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Status_c__c&quot;,&quot;guid&quot;:&quot;column-0bbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-5179&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorDisplayMessage</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Error Message</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>BokerEmpty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>MessageError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Ok</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorDisplayMessageKYC</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Message</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>MessageError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>OK</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrormessageDisplay</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Ok</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Message</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>MessageErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>TrueError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PopUpScreenOfferCreate</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Create Offer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>CreateButtonClick</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showYachtLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CollectionInputOfferCreate</assignToReference>
                <name>fieldValuesJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CreateCancel</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedYachtId</assignToReference>
                <name>selectedYachtId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PopUpScreenOfferAddOffer</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Add Offer Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>AddAddOfferItemField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Add Offer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>AddOfferButtonClick</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddOfferItemsCollection</assignToReference>
                <name>fieldValuesJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AddCancel</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PopUpScreenOfferAddSellingBroker</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Add Selling Broker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Broker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showContactLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>AddBrokerField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>ButtonClickAddBroker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectContact</assignToReference>
                <name>selectedContactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CancelButton</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PopUpScreenOfferAddCounter</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Add Counter Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>AddCounterFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Add Counter Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>AddCounterButtonClick</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddCounterInputValueCollection</assignToReference>
                <name>fieldValuesJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CounterCancel</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PopUpScreenOfferAddAgreed</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Add Agreed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>AddAgreedInputField</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Agreed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>AddAgreedButtonClick</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AddAgreedOutputValuesCollection</assignToReference>
                <name>fieldValuesJson</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CancelButton</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>cssoverwrite</name>
            <extensionName>c:css</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cssfile</name>
                <value>
                    <elementReference>Css</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>CurrentOfferScreen</eventSource>
            <handlers>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <screenActionName>OfferItemsGet</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>OfferTable.firstSelectedRow.Id</eventSource>
            <handlers>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OfferTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <screenActionName>OfferItemsGet</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>BrokerSale</name>
        <label>Broker Sale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>BrokerSaleSubflowOffer</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AddAddOfferItemField</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot; Yacht Name&quot;,
    &quot;name&quot;: &quot;yachtName&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Yacht_Name__c}&quot;
  },
{
    &quot;label&quot;: &quot;Select Currency&quot;,
    &quot;name&quot;: &quot;currency&quot;,
     &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Offer_currency__c}&quot;
},
  {
    &quot;label&quot;: &quot;Price&quot;,
    &quot;name&quot;: &quot;Price&quot;,
    &quot;type&quot;: &quot;number&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>AddAgreedInputField</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot; Yacht Name&quot;,
    &quot;name&quot;: &quot;yachtName&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Yacht_Name__c}&quot;
  },
{
    &quot;label&quot;: &quot;Select Currency&quot;,
    &quot;name&quot;: &quot;currency&quot;,
     &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Offer_currency__c}&quot;
},
  {
    &quot;label&quot;: &quot;Agreed Price&quot;,
    &quot;name&quot;: &quot;Price&quot;,
    &quot;type&quot;: &quot;number&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>AddBrokerField</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot; Yacht Name&quot;,
    &quot;name&quot;: &quot;yachtName&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Yacht_Name__c}&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>AddCounterFields</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot; Yacht Name&quot;,
    &quot;name&quot;: &quot;yachtName&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Yacht_Name__c}&quot;
  },
{
    &quot;label&quot;: &quot;Select Currency&quot;,
    &quot;name&quot;: &quot;currency&quot;,
      &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!OfferTable.firstSelectedRow.Offer_currency__c}&quot;
},
  {
    &quot;label&quot;: &quot;Counter Price&quot;,
    &quot;name&quot;: &quot;Price&quot;,
    &quot;type&quot;: &quot;number&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>AgreedBtns</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
        &quot;label&quot;: &quot;Add Offer&quot;,
        &quot;value&quot;: &quot;Add Offer&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Offer-btn&quot;
    },
    {
        &quot;label&quot;: &quot;Add Counter&quot;,
        &quot;value&quot;: &quot;Add Counter&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Counter-btn&quot;
    },
    {
        &quot;label&quot;: &quot;Add Agreed&quot;,
        &quot;value&quot;: &quot;Add Agreed&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Agreed-btn&quot;
    }
]</text>
    </textTemplates>
    <textTemplates>
        <name>BtnAddBroker</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
    {
        &quot;label&quot;: &quot;Add Broker&quot;,
        &quot;value&quot;: &quot;Add Broker&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Broker-btn&quot;
    },
    {
        &quot;label&quot;: &quot;Add Offer&quot;,
        &quot;value&quot;: &quot;Add Offer&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Offer-btn&quot;
    },
    {
        &quot;label&quot;: &quot;Add Counter&quot;,
        &quot;value&quot;: &quot;Add Counter&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Counter-btn&quot;
    },
    {
        &quot;label&quot;: &quot;Add Agreed&quot;,
        &quot;value&quot;: &quot;Add Agreed&quot;,
        &quot;variant&quot;: &quot;brand&quot;,
        &quot;cssClass&quot;: &quot;pill-button Add-Agreed-btn&quot;
    }
]</text>
    </textTemplates>
    <textTemplates>
        <name>CreateNewOfferbtn</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
        {
            &quot;label&quot;: &quot;Create New Offer&quot;,
            &quot;value&quot;: &quot;Create New Offer&quot;,
            &quot;variant&quot;: &quot;brand&quot;,
            &quot;cssClass&quot;: &quot;pill-button New-btn&quot;
        }
   ]</text>
    </textTemplates>
    <textTemplates>
        <name>CreateOfferCssBtn</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>.pill-button.New-btn {
    border-radius: 25px !important;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    float: right;
}

.pill-button.New-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.pill-button.New-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 118, 211, 0.6);
}</text>
    </textTemplates>
    <textTemplates>
        <name>Css</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>.slds-scope .slds-button-group .slds-button:only-child {
    background-color: #066afe;
    color: whitesmoke;
    border-radius: 25px;
}</text>
    </textTemplates>
    <textTemplates>
        <name>CssAddBrokerBtn</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>.pill-button.Add-Broker-btn,
.pill-button.Add-Offer-btn,
.pill-button.Add-Counter-btn,
.pill-button.Add-Agreed-btn {
    border-radius: 25px !important;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    float: right;
}

.pill-button.Add-Broker-btn:hover,
.pill-button.Add-Offer-btn:hover,
.pill-button.Add-Counter-btn:hover,
.pill-button.Add-Agreed-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.pill-button.Add-Broker-btn:focus,
.pill-button.Add-Offer-btn:focus,
.pill-button.Add-Counter-btn:focus,
.pill-button.Add-Agreed-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 118, 211, 0.6);
}</text>
    </textTemplates>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot;Error&quot;,
    &quot;name&quot;: &quot;Error&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot; Please Add Selling Broker First&quot;
  },</text>
    </textTemplates>
    <textTemplates>
        <name>MessageError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
 {
  &quot;label&quot;: &quot;Error&quot;,
  &quot;name&quot;: &quot;Error&quot;,
   &quot;type&quot;: &quot;Display text&quot;,
   &quot;value&quot;: &quot; Please Add Broker First&quot;
}
]</text>
    </textTemplates>
    <textTemplates>
        <name>MessageErrors</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot;Error&quot;,
    &quot;name&quot;: &quot;Error&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot; Unable to create a new offer unless a Yacht has been proposed.&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>SecondInputFields</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
 {
    &quot;label&quot;: &quot;Asking Currency&quot;,
    &quot;name&quot;: &quot;currency&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!Get_Market_Position_Sale.Asking_currency__c}&quot;
  },
  {
    &quot;label&quot;: &quot;Asking Price&quot;,
    &quot;name&quot;: &quot;currency&quot;,
    &quot;type&quot;: &quot;Display text&quot;,
    &quot;value&quot;: &quot;{!Get_Market_Position_Sale.Askingprice__c}&quot;
  },
  {
    &quot;label&quot;: &quot;Offer Price&quot;,
    &quot;name&quot;: &quot;offerPrice&quot;,
    &quot;type&quot;: &quot;number&quot;
  }
]</text>
    </textTemplates>
    <variables>
        <name>AddAgreedOutputValuesCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddCounterInputValueCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddOfferItemsCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allYachts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht__c</objectType>
    </variables>
    <variables>
        <name>CancelButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionInputOfferCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CreateOfferPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdYacht</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOfferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Pickilist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedYachtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBuyersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewBuyerConRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>VarNewSellerConRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>VarSellersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarUBOBuyersConRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>VARUBOSellerConRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractContactRole</objectType>
    </variables>
    <variables>
        <name>YachtChecker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtProposedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
