force-app/main/default/flows/OppScreenContractClosing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>No_contract_yet</name>
        <label>No contract yet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FinCheck_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Most_Recent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nocontract</targetReference>
            </connector>
            <label>No contract</label>
        </rules>
    </decisions>
    <description>Adding jca fields</description>
    <environments>Default</environments>
    <interviewLabel>OppScreenContractClosing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppScreenContractClosing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>most recent</description>
        <name>Get_Contract_Most_Recent</name>
        <label>Get Contract Most Recent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_contract_yet</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sale_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Most_Recent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Currency__c</queriedFields>
        <queriedFields>Opportunity_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Contract_Most_Recent</inputReference>
    </recordUpdates>
    <screens>
        <name>FinCheck_New</name>
        <label>FinCheck_New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
        <fields>
            <name>FinCheck_New_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FinCheck_New_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ContractYachtName</name>
                    <fieldText>&lt;p&gt;Yacht Name: {!Get_Contract_Most_Recent.Market_Position__r.Yacht_name_at_event__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinCheck_New_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinCheck_New_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FinCheck_New_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ContractsFinanceDisplay</name>
                    <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;Bible and Closure information&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinCheck_New_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinCheck_New_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FinCheck_New_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Final_Sold_Price__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Final_Sold_Currency__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Ttl_Comm_Earned_on_Sale_Amount__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Broker_Commission__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.CA_Commission__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.JCA_Broker__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.JCA_Company__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.JCA_Comm_Split__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.JCA_Commission__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Disbursement_Amount__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Disbursement_Currency__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Disbursement_To__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinCheck_New_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Closing_Bible_Requested__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Closing_Bible_Received__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Closing_Bible_Filed__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinCheck_New_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Status</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Lost_Reason__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Closed_by_Lead_Broker__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Happy_to_close_date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.HOD_Close_approval__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Contract_Most_Recent.Close_approval_date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fincheck_old</name>
        <label>FinCheck_Old</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fincheck_old_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fincheck_old_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractYachtName</name>
                    <fieldText>&lt;p&gt;Yacht Name: {!Get_Contract_Most_Recent.Market_Position__r.Yacht_name_at_event__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fincheck_old_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fincheck_old_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fincheck_old_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractsFinanceDisplay</name>
                    <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;Bible and Closure information&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fincheck_old_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fincheck_old_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fincheck_old_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalFinanceContractsEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Final_Sold_Price__c,Final_Sold_Currency__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalFinanceContractsRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Final_Sold_Price__c,Final_Sold_Currency__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalCommContractsEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Ttl_Comm_Earned_on_Sale_Amount__c,Broker_Commission__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalCommContractsRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Ttl_Comm_Earned_on_Sale_Amount__c,Broker_Commission__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalDisContractsEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Disbursement_Amount__c,Disbursement_Currency__c,Disbursement_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalDisContractsRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Disbursement_Amount__c,Disbursement_Currency__c,Disbursement_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fincheck_old_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BibleContractsEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Closing_Bible_Requested__c,Closing_Bible_Received__c,Closing_Bible_Filed__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BibleContractsRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>columnsize</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Closing_Bible_Requested__c,Closing_Bible_Received__c,Closing_Bible_Filed__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressUnderline</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fincheck_old_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CloseContractsStatusEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Status,Lost_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressUnderline</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CloseContractsStatusRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Status,Lost_Reason__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressUnderline</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CloseContractsEdit</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Closed_by_Lead_Broker__c,Happy_to_close_date__c,HOD_Close_approval__c,Close_approval_date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Live</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CloseContractsRead</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressUnderline</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Closed_by_Lead_Broker__c,Happy_to_close_date__c,HOD_Close_approval__c,Close_approval_date__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Most_Recent.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Contract_Most_Recent.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nocontract</name>
        <label>Nocontract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fincheck_old</targetReference>
        </connector>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
