force-app/main/default/flows/OppTeamRoleBurgessEmailSend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assgin_User_Email</name>
        <label>Assgin User Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnUserGetMail.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnUserGetMail.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnUserGetMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpp</name>
        <label>Assign Opp.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Fetchopp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOnoppId.Purchase_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnoppId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTeam</name>
        <label>Assign Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnTeamToGetUserId.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnTeamToGetUserId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectId</name>
        <label>CollectId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Yacht_Owner__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TypeCurrency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FetchAllOpp</name>
        <label>Fetch All Opp.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OppRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetchopp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOppTeam</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionOppNotNull</name>
        <label>Decision Opp. NotNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopOnoppId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOnoppId.Purchase_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOpp</targetReference>
            </connector>
            <label>OppNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>TypeCurrency</name>
        <label>Type Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Currency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asking_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asking_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asking_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asking_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Req</targetReference>
            </connector>
            <label>Currency</label>
        </rules>
    </decisions>
    <description>removed email send for the moment</description>
    <environments>Default</environments>
    <interviewLabel>OppTeamRoleB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppTeamRoleBurgessEmailSend</label>
    <loops>
        <name>loopOnoppId</name>
        <label>Loop On oppId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Req</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecisionOppNotNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FetchAllOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnTeamToGetUserId</name>
        <label>Loop On Team To Get UserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getOppTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTeam</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetNotifiaction_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnUserGetMail</name>
        <label>Loop On User Get Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetUserForMail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assgin_User_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Req</name>
        <label>Get Req.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOnoppId</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3 AND 4) OR (5 AND 6 AND 7) OR (8 AND 9 AND 10) OR (11 AND 12 AND 13)</filterLogic>
        <filters>
            <field>Cabins_min__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Total_guest_cabins__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Budget_max__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_min__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Budget_max__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_min__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Budget_max__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_min__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_currency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Budget_max__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_min__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Askingprice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Requirement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Purchase_Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotifiaction_type</name>
        <label>Get Notifiaction type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserForMail</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomNotificationMarketPosition</stringValue>
            </value>
        </filters>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomNotificationMarketPosition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppTeam</name>
        <label>Get Opp. Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnTeamToGetUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>In</operator>
            <value>
                <elementReference>OppRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Burgess</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserForMail</name>
        <label>Get User For Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnUserGetMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>collectId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Askingprice__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Asking_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_guest_cabins__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Market_Position__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&apos;Yacht price is Changed&apos;</text>
    </textTemplates>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fetchopp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FetchOppEUR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FetchOppIdAUD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FetchOppUSD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
