force-app/main/default/flows/Procurement_Quote_Line_Item_CRU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>varBPInvoiceTotal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.UnitPrice}+{!varInsurance}+{!varTotalExpenses}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varFeelessINS</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.UnitPrice}-{!varInsurance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varInsurance</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Order_Value_Converted__c}=0,{!$Record.Initial_Quote_Converted__c}*{!Get_Insurance.Insurance_Rate__c}, 
{!$Record.Order_Value_Converted__c}*{!Get_Insurance.Insurance_Rate__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varServicepercent</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Initial_Quote_Converted__c}=NULL, NULL, {!$Record.UnitPrice}/{!$Record.Order_Value_Converted__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTotalExpenses</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Expense_Outbound_Freight__c}+{!$Record.Expenses_Inbound__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Procurement Quote Line Item CRU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procurement Quote Line Item CRU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Insurance</name>
        <label>Get Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Currency_Fields</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Procurement_Insurance__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Currency_Fields</name>
        <label>Update Currency Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>BP_Invoice_Total__c</field>
            <value>
                <elementReference>varBPInvoiceTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_less_INS__c</field>
            <value>
                <elementReference>varFeelessINS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance__c</field>
            <value>
                <elementReference>varInsurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>varServicepercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Expenses__c</field>
            <value>
                <elementReference>varTotalExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Insurance</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
