force-app/main/default/flows/ReqScreenFLow_SubflowYachts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AboveOneNameYachtsAlreadyInBasket</name>
        <label>AboveOneNameYachtsAlreadyInBasket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>YachtsName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YachtsName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Yacht_Name_at_selection__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNotvalue</name>
        <label>AssignNotvalue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistOrNot</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignvalue</name>
        <label>Assignvalue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistOrNot</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>GetName</name>
        <label>GetName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>YachtsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnYachts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnYachts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NameYachtsAlreadyInBasket</name>
        <label>NameYachtsAlreadyInBasket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>YachtsName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Yacht_Name_at_selection__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count</name>
        <label>Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AboveOneNameYachtsAlreadyInBasket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AboveOne</defaultConnectorLabel>
        <rules>
            <name>CountNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NameYachtsAlreadyInBasket</targetReference>
            </connector>
            <label>CountNumber</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordExist_Not</name>
        <label>RecordExist/Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNotvalue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotExist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YachtsName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignvalue</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requirement_Currency</name>
        <label>Requirement Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requirement_is_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_requirement.Budget_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Yachts_GBP</targetReference>
            </connector>
            <label>Requirement is GBP</label>
        </rules>
        <rules>
            <name>Requirement_is_USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_requirement.Budget_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Yachts_USD</targetReference>
            </connector>
            <label>Requirement is USD</label>
        </rules>
        <rules>
            <name>Requirement_is_EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_requirement.Budget_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Yachts_EUR</targetReference>
            </connector>
            <label>Requirement is EUR</label>
        </rules>
        <rules>
            <name>Requirement_is_AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_requirement.Budget_currency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Yachts_AUD</targetReference>
            </connector>
            <label>Requirement is AUD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Get</name>
        <label>Search/Get</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get</defaultConnectorLabel>
        <rules>
            <name>Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnYachts</targetReference>
            </connector>
            <label>Search</label>
        </rules>
    </decisions>
    <description>Adjusting the search query</description>
    <environments>Default</environments>
    <interviewLabel>ReqScreenFLow(SubflowYachts) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReqScreenFLow(SubflowYachts)</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetBasket</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordExist_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnYachts</name>
        <label>LoopOnYachts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Yachts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetBasket</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matching_Yachts_AUD</name>
        <label>Get Matching Yachts AUD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consider offers</stringValue>
            </value>
        </filters>
        <filters>
            <field>zzzStatus_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asking_price_AUD__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_min__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asking_price_AUD__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_max__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_min_metres__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_max_metres__c</elementReference>
            </value>
        </filters>
        <object>Yacht__c</object>
        <outputReference>YachtsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>For_Sale__c</queriedFields>
        <queriedFields>Asking_price__c</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Yacht_length__c</queriedFields>
        <queriedFields>Build_year__c</queriedFields>
        <queriedFields>Builder__c</queriedFields>
        <queriedFields>zzzStatus_Reason__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Yachts_EUR</name>
        <label>Get Matching Yachts EUR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consider offers</stringValue>
            </value>
        </filters>
        <filters>
            <field>zzzStatus_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asking_price_EUR__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_min__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asking_price_EUR__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_max__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_min_metres__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_max_metres__c</elementReference>
            </value>
        </filters>
        <object>Yacht__c</object>
        <outputReference>YachtsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>For_Sale__c</queriedFields>
        <queriedFields>Asking_price__c</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Yacht_length__c</queriedFields>
        <queriedFields>Build_year__c</queriedFields>
        <queriedFields>Builder__c</queriedFields>
        <queriedFields>zzzStatus_Reason__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Yachts_GBP</name>
        <label>Get Matching Yachts GBP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consider offers</stringValue>
            </value>
        </filters>
        <filters>
            <field>zzzStatus_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asking_price_GBP__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_min__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asking_price_GBP__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_max__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_min_metres__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_max_metres__c</elementReference>
            </value>
        </filters>
        <object>Yacht__c</object>
        <outputReference>YachtsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>For_Sale__c</queriedFields>
        <queriedFields>Asking_price__c</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Yacht_length__c</queriedFields>
        <queriedFields>Build_year__c</queriedFields>
        <queriedFields>Builder__c</queriedFields>
        <queriedFields>zzzStatus_Reason__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Yachts_USD</name>
        <label>Get Matching Yachts USD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>For_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consider offers</stringValue>
            </value>
        </filters>
        <filters>
            <field>zzzStatus_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asking_price_USD__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_min__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asking_price_USD__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.Budget_max__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_min_metres__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOA_Metres__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Selected_requirement.LOA_max_metres__c</elementReference>
            </value>
        </filters>
        <object>Yacht__c</object>
        <outputReference>YachtsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_ref_number__c</queriedFields>
        <queriedFields>For_Sale__c</queriedFields>
        <queriedFields>Asking_price__c</queriedFields>
        <queriedFields>Asking_currency__c</queriedFields>
        <queriedFields>Yacht_length__c</queriedFields>
        <queriedFields>Build_year__c</queriedFields>
        <queriedFields>Builder__c</queriedFields>
        <queriedFields>zzzStatus_Reason__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_requirement</name>
        <label>Get Selected requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requirement_Currency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Requirementid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBasket</name>
        <label>GetBasket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Yacht__c</field>
            <operator>In</operator>
            <value>
                <elementReference>YachtsId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>yachtsrec</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Yacht_Search_Basket__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht_Name_at_selection__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>ExistOrNot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requirementid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Searching</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>yachtIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Yachtidsrecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Yachts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht__c</objectType>
    </variables>
    <variables>
        <name>YachtsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>yachtsrec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YachtsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Yacht__c</objectType>
    </variables>
</Flow>
