force-app/main/default/flows/RequirementsCRU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_this_a_new_requirement</name>
        <label>Is this a new requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_new_requirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Yes new requirement</label>
        </rules>
    </decisions>
    <description>Updating name process</description>
    <environments>Default</environments>
    <formulas>
        <description>is new</description>
        <name>ForIsNew</name>
        <dataType>Boolean</dataType>
        <expression>Isnew()</expression>
    </formulas>
    <formulas>
        <name>ForNewDescription</name>
        <dataType>String</dataType>
        <expression>text({!$Record__Prior.Yacht_type__c})+&quot; &quot;+
Text({!$Record.LOA_min_metres__c}) +&quot; &quot;+
text({!$Record.Budget_currency__c})+&quot; &quot;+
text({!$Record.Budget_min__c})</expression>
    </formulas>
    <interviewLabel>RequirementsCRU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RequirementsCRU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ForNewDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_new_requirement</targetReference>
        </connector>
        <object>Purchase_Requirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
