force-app/main/default/flows/RTFlow_ContactATCRUP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>IncompleteContactData</name>
        <label>IncompleteContactData</label>
        <locationX>1434</locationX>
        <locationY>141</locationY>
        <customErrorMessages>
            <errorMessage>You cannot save this contact.  Please make sure that your new Contact includes: First Name, Last Name and a Contact Type.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>AccountAdded</name>
        <label>AccountAdded</label>
        <locationX>1201</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>RunGeoRegionMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactCreateAccount</targetReference>
            </connector>
            <label>AccountIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunAllowMarketingCheck</name>
        <label>RunAllowMarketingCheck</label>
        <locationX>1182</locationX>
        <locationY>1506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PossibleScenariosMkt</name>
            <conditionLogic>(1 AND 2) or (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AllowMarketing__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AllowMarketing__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactAllowMarketingUpdate</targetReference>
            </connector>
            <label>PossibleScenariosMkt</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunGDPRCheck</name>
        <label>RunGDPRCheck</label>
        <locationX>1193</locationX>
        <locationY>1123</locationY>
        <defaultConnector>
            <targetReference>RunAllowMarketingCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PosibleScenariosGDPR</name>
            <conditionLogic>(1 AND 2) or (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_consent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_consent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactGDPRUpdatedDate</targetReference>
            </connector>
            <label>PosibleScenariosGDPR</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunGeoRegionMatch</name>
        <label>RunGeoRegionMatch</label>
        <locationX>1331</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>RunLKWCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PossibleScenariosGeo</name>
            <conditionLogic>(1 and 2) or (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactGeoRegion</targetReference>
            </connector>
            <label>PossibleScenariosGeo</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunLKWCheck</name>
        <label>RunLKWCheck</label>
        <locationX>1326</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>RunGDPRCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PossibleSenariosLKW</name>
            <conditionLogic>((1 and 4) or (2 and 5) or (3 and 6)) or((4 or 5 or 6) and 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LKW_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_currency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LKW_currency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactLKWUpdatedDate</targetReference>
            </connector>
            <label>PossibleSenariosLKW</label>
        </rules>
    </decisions>
    <decisions>
        <name>RunRecordCheck</name>
        <label>RunRecordCheck</label>
        <locationX>1199</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>AccountAdded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordCheckFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Type__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncompleteContactData</targetReference>
            </connector>
            <label>RecordCheckFailed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>R {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFlow:ContactATCRUP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>632</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RunRecordCheck</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ContactAllowMarketingUpdate</name>
        <label>ContactAllowMarketingUpdate</label>
        <locationX>1185</locationX>
        <locationY>1774</locationY>
        <flowName>SubFlow_ContactATCRUPContactAllowMarketingUpdate</flowName>
        <inputAssignments>
            <name>conID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ContactCreateAccount</name>
        <label>ContactCreateAccount</label>
        <locationX>1436</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>RunGeoRegionMatch</targetReference>
        </connector>
        <flowName>SubFlow_ContactATCRUPContactCreateAccount</flowName>
        <inputAssignments>
            <name>ConId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ContactGDPRUpdatedDate</name>
        <label>ContactGDPRUpdatedDate</label>
        <locationX>1710</locationX>
        <locationY>1219</locationY>
        <connector>
            <targetReference>RunAllowMarketingCheck</targetReference>
        </connector>
        <flowName>SubFlow_ContactATCRUPContactGDPRUpdatedDate</flowName>
        <inputAssignments>
            <name>conID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ContactGeoRegion</name>
        <label>ContactGeoRegion</label>
        <locationX>1598</locationX>
        <locationY>544</locationY>
        <flowName>SubFlow_ContactATCRUPContactGeoRegion</flowName>
        <inputAssignments>
            <name>conID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ContactLKWUpdatedDate</name>
        <label>ContactLKWUpdatedDate</label>
        <locationX>1701</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>RunGDPRCheck</targetReference>
        </connector>
        <flowName>SubFlow_ContactATCRUPContactLKWUpdatedDate</flowName>
        <inputAssignments>
            <name>conID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CheckGeoRegion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactTypeCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DuplicateCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DuplicateContactsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
