force-app/main/default/flows/SubFlow_ContactATCRUPContactGeoRegion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignMatchedGeoRegion</name>
        <label>AssignMatchedGeoRegion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MatchedGeoRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopGeoRegionByCountry.Geo_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MatchedGeoRegionDifferent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesGeoRegion</name>
        <label>AssignValuesGeoRegion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ThisContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.Geo_region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchedGeoRegion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGeoRegionByCountry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MatchedCountry</name>
        <label>MatchedCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopGeoRegionByCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMatchedCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContactMailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopGeoRegionByCountry.Nationality__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMatchedGeoRegion</targetReference>
            </connector>
            <label>YesMatchedCountry</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchedGeoRegionDifferent</name>
        <label>MatchedGeoRegionDifferent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopGeoRegionByCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchedGeoRegion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ThisContactGeoRegion</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchedGeoRegion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesGeoRegion</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow:ContactATCRUPContactGeoRegion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow:ContactATCRUPContactGeoRegion</label>
    <loops>
        <name>LoopGeoRegionByCountry</name>
        <label>LoopGeoRegionByCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetGeoRegion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchedCountry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGeoRegion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ThisContactGeoRegion</assignToReference>
            <field>Geo_region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThisContactMailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetGeoRegion</name>
        <label>GetGeoRegion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGeoRegionByCountry</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Geo_Region__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactValues</name>
        <label>UpdateContactValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ThisContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>conID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedCountryx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchedGeoRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisContactGeoRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisContactMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
