force-app/main/default/flows/SurveyScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Master</defaultConnectorLabel>
        <rules>
            <name>Broker_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type_Opp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Records_BP</targetReference>
            </connector>
            <label>Broker Purchase</label>
        </rules>
        <rules>
            <name>Broker_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type_Opp.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Records_BS</targetReference>
            </connector>
            <label>Broker Sale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_What_BTN_Click</name>
        <label>Check What BTN Click</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_BTN_Click</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonADD.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YachtSelection.cancelOutput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondScreenSurvey_Screen</targetReference>
            </connector>
            <label>Create BTN Click</label>
        </rules>
        <rules>
            <name>Delete_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DelEditBTN.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancelbtn</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Survey_Record</targetReference>
            </connector>
            <label>Delete Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaleCheck_What_BTN_Click</name>
        <label>SaleCheck What BTN Click</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sale_Create_BTN_Click</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaleButtonADD.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancelbtn</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sale_Update_Survey_Opp_Field</targetReference>
            </connector>
            <label>Sale Create BTN Click</label>
        </rules>
        <rules>
            <name>Sale_Delete_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaleDelEditBTN.outputValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancelbtn</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sale_Delete_Survey_Record</targetReference>
            </connector>
            <label>Sale Delete Survey</label>
        </rules>
    </decisions>
    <description>contract add</description>
    <environments>Default</environments>
    <formulas>
        <name>AddBTNTrue</name>
        <dataType>Boolean</dataType>
        <expression>{!SaleButtonADD.outputValue} = &quot;Add&quot;</expression>
    </formulas>
    <formulas>
        <name>BtnClickEditDelSale</name>
        <dataType>Boolean</dataType>
        <expression>{!SaleDelEditBTN.outputValue} = &quot;Edit&quot;</expression>
    </formulas>
    <formulas>
        <name>DelBTNClick</name>
        <dataType>Boolean</dataType>
        <expression>{!DelEditBTN.outputValue} = &quot;Delete&quot;</expression>
    </formulas>
    <formulas>
        <name>DeltBtnClickSale</name>
        <dataType>Boolean</dataType>
        <expression>{!SaleDelEditBTN.outputValue} = &quot;Delete&quot;</expression>
    </formulas>
    <formulas>
        <name>EditBTNClick</name>
        <dataType>Boolean</dataType>
        <expression>{!DelEditBTN.outputValue} = &quot;Edit&quot;</expression>
    </formulas>
    <formulas>
        <name>FindYachtBtnClick</name>
        <dataType>Boolean</dataType>
        <expression>{!ButtonADD.outputValue} = &quot;Find Yacht&quot;</expression>
    </formulas>
    <formulas>
        <name>ForLast12Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (13/24)</expression>
    </formulas>
    <formulas>
        <name>formulaBuyingOppId</name>
        <dataType>String</dataType>
        <expression>IF(
  FIND(&apos;&quot;Buying_Opportunity__c&quot;:&quot;&apos;, {!brokerPurchaseOppId}) &gt; 0,
  SUBSTITUTE(
    MID(
      {!brokerPurchaseOppId},
      FIND(&apos;&quot;Buying_Opportunity__c&quot;:&quot;&apos;, {!brokerPurchaseOppId}) + 24,
      19
    ),
    &apos;&quot;&apos;,
    &quot;&quot;
  ),
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TrueAddBTNClick</name>
        <dataType>Boolean</dataType>
        <expression>{!ButtonADD.outputValue} = &quot;Add&quot;</expression>
    </formulas>
    <interviewLabel>SurveyScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Survey_Record</name>
        <label>Delete Survey Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Survey_Records.selectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Sale_Delete_Survey_Record</name>
        <label>Sale Delete Survey Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>SaleSurvey_Records.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Purchase_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sale_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Opp</name>
        <label>Get Current Opp.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Position</name>
        <label>Get Market Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SaleSurvey_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Opp.Market_Position__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <object>Market_Position__c</object>
        <outputAssignments>
            <assignToReference>MPId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>yachtId</assignToReference>
            <field>Yacht__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Position_for_BP_Use</name>
        <label>Get Market Position for BP Use</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Survey_Opp_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Yacht__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YachtSelection.selectedYachtId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_position_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Market_Position__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Selling_Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Opp</name>
        <label>Get Record Type Opp.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Opp.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Records_BP</name>
        <label>Get Survey Records BP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Buying_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Records_BS</name>
        <label>Get Survey Records BS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Market_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Selling_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sale_Update_Survey_Opp_Field</name>
        <label>Sale Update Survey Opp Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>MPId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Opp_Field</name>
        <label>Update Survey Opp Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buying_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Position__c</field>
            <value>
                <elementReference>Get_Market_Position_for_BP_Use.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Opportunity__c</field>
            <value>
                <elementReference>Get_Market_Position_for_BP_Use.Selling_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <screens>
        <name>SaleSurvey_Screen</name>
        <label>Sale Survey Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaleCheck_What_BTN_Click</targetReference>
        </connector>
        <fields>
            <name>SaleSurvey_Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Survey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Servey Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Survey_Records_BS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Surveyor_Company_Name__c&quot;,&quot;guid&quot;:&quot;column-01bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Surveyor Company Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SurveyorName__c&quot;,&quot;guid&quot;:&quot;column-b63f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Surveyor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Yacht_Name__c&quot;,&quot;guid&quot;:&quot;column-c747&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Yacht Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Survey_country__c&quot;,&quot;guid&quot;:&quot;column-6d26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Survey country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Survey_Date__c&quot;,&quot;guid&quot;:&quot;column-c85b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Survey Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Survey_location__c&quot;,&quot;guid&quot;:&quot;column-8773&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Survey location&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Survey_Notes__c&quot;,&quot;guid&quot;:&quot;column-c553&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Survey Notes&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SaleButtonADD</name>
            <extensionName>c:buttonCCTcustom</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>AddBTN</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customCss</name>
                <value>
                    <elementReference>AddBTNCss</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SaleSurvey_Records.firstSelectedRow.Selling_Opportunity__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SaleCreateSurveyPopUp</name>
            <extensionName>c:customFlowPopUpdynamicModelForReq</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Survey__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>AddBTNTrue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiNames</name>
                <value>
                    <stringValue>Yacht__c,Survey_country__c,Survey_Date__c,Survey_location__c,Surveyor_Company__c,Surveyor_Name__c,Buying_Opportunity__c,Survey_Notes__c,,</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Create Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Yacht__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>yachtId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyId</assignToReference>
                <name>outputRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>brokerPurchaseOppId</assignToReference>
                <name>outputData</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SaleDelEditBTN</name>
            <extensionName>c:buttonCCTcustom</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>EditDelBTN</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customCss</name>
                <value>
                    <elementReference>EditDelBTNCSS</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SaleSurvey_Records.firstSelectedRow.Selling_Opportunity__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SaleEditScreen</name>
            <extensionName>c:customFlowPopUpdynamicModelForReq</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Survey__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiNames</name>
                <value>
                    <stringValue>Yacht__c,Survey_country__c,Survey_Date__c,Survey_location__c,Surveyor_Company__c,Surveyor_Name__c,Buying_Opportunity__c,Survey_Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>BtnClickEditDelSale</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SaleSurvey_Records.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Save Survey</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SaleDelScreen</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Delete Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>DelScreenMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Delete Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>DeltBtnClickSale</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Cancelbtn</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SecondScreenSurvey_Screen</name>
        <label>Survey Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Market_Position_for_BP_Use</targetReference>
        </connector>
        <fields>
            <name>CreateSurveyPopUp</name>
            <extensionName>c:customFlowPopUpdynamicModelForReq</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Survey__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>TrueAddBTNClick</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiNames</name>
                <value>
                    <stringValue>Survey_country__c,Survey_Date__c,Survey_location__c,Surveyor_Company__c,Surveyor_Name__c,Yacht__c,Survey_Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Create Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Yacht__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldValue</name>
                <value>
                    <elementReference>YachtSelection.selectedYachtId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonlyPrepopulate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyId</assignToReference>
                <name>outputRecordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Survey_Screen</name>
        <label>Survey Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_What_BTN_Click</targetReference>
        </connector>
        <fields>
            <name>Survey_Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Survey__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Servey Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Survey_Records_BP</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Surveyor_Company_Name__c&quot;,&quot;guid&quot;:&quot;column-01bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Surveyor Company Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SurveyorName__c&quot;,&quot;guid&quot;:&quot;column-b63f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Surveyor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Yacht_Name__c&quot;,&quot;guid&quot;:&quot;column-c747&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Yacht Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Survey_country__c&quot;,&quot;guid&quot;:&quot;column-6d26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Survey country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Survey_Date__c&quot;,&quot;guid&quot;:&quot;column-c85b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Survey Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Survey_location__c&quot;,&quot;guid&quot;:&quot;column-8773&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Survey location&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Survey_Notes__c&quot;,&quot;guid&quot;:&quot;column-c553&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Survey Notes&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Survey_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Survey_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ButtonADD</name>
                    <extensionName>c:buttonCCTcustom</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>config</name>
                        <value>
                            <elementReference>AddBTN</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>customCss</name>
                        <value>
                            <elementReference>AddBTNCss</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Survey_Records.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FindYacht</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Add to Basket</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showYachtLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>FindYachtBtnClick</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Select Yacht</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>YachtSelection</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Create Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showYachtLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>TrueAddBTNClick</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DelEditBTN</name>
            <extensionName>c:buttonCCTcustom</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>config</name>
                <value>
                    <elementReference>EditDelBTN</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customCss</name>
                <value>
                    <elementReference>EditDelBTNCSS</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Survey_Records.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EditScreen</name>
            <extensionName>c:customFlowPopUpdynamicModelForReq</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Survey__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiNames</name>
                <value>
                    <stringValue>Survey_country__c,Survey_Date__c,Survey_location__c,Surveyor_Company__c,Surveyor_Name__c,,Yacht__c,Survey_Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>EditBTNClick</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Survey_Records.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Save Survey</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DelScreen</name>
            <extensionName>c:customFlowPopUpModel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionButtonLabel</name>
                <value>
                    <stringValue>Delete Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldConfig</name>
                <value>
                    <elementReference>DelScreenMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>popupHeaderText</name>
                <value>
                    <stringValue>Delete Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPopup</name>
                <value>
                    <elementReference>DelBTNClick</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Cancelbtn</assignToReference>
                <name>cancelOutput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AddBTN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
    {
            &quot;label&quot;: &quot;Add&quot;,
            &quot;value&quot;: &quot;Add&quot;,
            &quot;variant&quot;: &quot;brand&quot;,
            &quot;cssClass&quot;: &quot;pill-button Add-btn&quot;
      }
   
   ]</text>
    </textTemplates>
    <textTemplates>
        <name>AddBTNCss</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>.pill-button.Add-btn {
    border-radius: 25px !important;
    font-size: 0.75rem; /* same as SLDS default button text */
    padding: 0 0.75rem; /* SLDS brand button padding */
    height: 2rem; /* SLDS default height */
    line-height: 2rem;
    font-weight: 700;
    
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    float: right; /* move to the right */
}

.pill-button.Add-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.pill-button.Add-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 118, 211, 0.6);
}</text>
    </textTemplates>
    <textTemplates>
        <name>DelScreenMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
 {
  &quot;label&quot;: &quot;Delete Confirmation&quot;,
  &quot;name&quot;: &quot;Delete Confirmation&quot;,
   &quot;type&quot;: &quot;Display text&quot;,
   &quot;value&quot;: &quot;  : Do you really want to remove this Survey?&quot;
}
]</text>
    </textTemplates>
    <textTemplates>
        <name>EditDelBTN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
  {
    &quot;label&quot;: &quot;Edit&quot;,
    &quot;value&quot;: &quot;Edit&quot;,
    &quot;variant&quot;: &quot;brand&quot;,
    &quot;cssClass&quot;: &quot;pill-button Edit-btn&quot;
  },
  {
    &quot;label&quot;: &quot;Delete&quot;,
    &quot;value&quot;: &quot;Delete&quot;,
    &quot;variant&quot;: &quot;destructive&quot;,
    &quot;cssClass&quot;: &quot;pill-button delete-btn&quot;
  }
]</text>
    </textTemplates>
    <textTemplates>
        <name>EditDelBTNCSS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>.pill-button.Edit-btn {
    border-radius: 25px !important;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    float: right;
}

.pill-button.Edit-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.pill-button.Edit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 118, 211, 0.6);
}

.pill-button.delete-btn {
    border-radius: 25px !important;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    float: right;
    background-color: #e3066a; /* destructive color */
    color: white;
}

.pill-button.delete-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #ea001e;
}

.pill-button.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.6);
}</text>
    </textTemplates>
    <variables>
        <name>basketRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>basketRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>brokerPurchaseOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cancelbtn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>yachtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
