force-app/main/default/flows/UpdateEnquiryName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Name</name>
        <label>Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InCorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EnqName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>InCorrect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DigitId15</name>
        <dataType>String</dataType>
        <expression>left({!$Record.Id},15)</expression>
    </formulas>
    <formulas>
        <name>EnqName</name>
        <dataType>String</dataType>
        <expression>IF
(ISBLANK ( TEXT({!$Record.Enquiry_Source__c} )) = FALSE ,
{!$Record.First_Name__c}+&quot; &quot;
+{!$Record.Last_Name__c}+&quot; -  &quot;
+text({!$Record.Enquiry_Source__c})+&quot; - &quot;+
TEXT({!$Record.Enquiry_Type__c})+&quot; : &quot;
+text(DAY({!$Flow.CurrentDate}))+&quot; &quot;
+CASE(MONTH({!$Flow.CurrentDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;None&quot;)+&quot; &quot;
+text(YEAR({!$Flow.CurrentDate}))
,
{!$Record.First_Name__c}+&quot; &quot;
+{!$Record.Last_Name__c}+&quot; - &quot;
+TEXT({!$Record.Enquiry_Type__c})+&quot; : &quot;
+text(DAY({!$Flow.CurrentDate}))+&quot; &quot;
+CASE(MONTH({!$Flow.CurrentDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;None&quot;)+&quot; &quot;
+text(YEAR({!$Flow.CurrentDate}))
)</expression>
    </formulas>
    <interviewLabel>UpdateEnquiryName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateEnquiryName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEnquiry</name>
        <label>getEnquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnqName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEnquiry</targetReference>
        </connector>
        <object>Enquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
