force-app/main/default/flows/Yacht_Search_Basket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddBasketUpdatesto_collection</name>
        <label>AddBasketUpdatesto collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarUpdateBasketItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRecord_updatedBasket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_yachtIDs_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Addtodonotincludeinupdate</name>
        <label>Addtodonotincludeinupdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarBasketDoNotIncludeUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRecordDonotIncludeinUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRemoveAlreadysent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_yachtIDs_to_collection</name>
        <label>Assign yachtIDs to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListofYachtIDsforWebsite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_basket_IDs.Yacht_Ref_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_basket_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignokaytothecollection</name>
        <label>Assignokaytothecollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarOkaytoSendCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRecordBasketOkaytoSend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRemoveAlreadysent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectIDdonotupdate</name>
        <label>CollectIDdonotupdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRecordDonotIncludeinUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRemoveAlreadysent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addtodonotincludeinupdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountRemainingRecords</name>
        <label>CountRemainingRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarCountRecordsOkaytoSendtoWebsite</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VarOkaytoSendCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_button_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Okay_to_be_sent_to_website</name>
        <label>Okay to be sent to website</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRecordBasketOkaytoSend.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRemoveAlreadysent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecordBasketOkaytoSend.Yacht_Ref_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRemoveAlreadysent.Yacht_Ref_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignokaytothecollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Yachts_for_Basket_update</name>
        <label>Prepare Yachts for Basket update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRecord_updatedBasket.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Copy to web selection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecord_updatedBasket.Sent_to_website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecord_updatedBasket.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_basket_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBasketUpdatesto_collection</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Action_button_selected</name>
        <label>Action button selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNigelID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_zero_valid_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountRecordsOkaytoSendtoWebsite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CantSendtowebordeletePage</targetReference>
            </connector>
            <label>Selected zero valid records</label>
        </rules>
        <rules>
            <name>Delete_Basket_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BasketActionController.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeleteBasketItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_1</targetReference>
            </connector>
            <label>Delete Basket Items</label>
        </rules>
        <rules>
            <name>Sent_to_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BasketActionController.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sendtowebsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_basket_IDs</targetReference>
            </connector>
            <label>Sent to Website</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Already sent to website</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Okay_to_be_sent_to_website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRemoveAlreadysent.Sent_to_website__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectIDdonotupdate</targetReference>
            </connector>
            <label>Yes already sent</label>
        </rules>
    </decisions>
    <description>selection and sent to website</description>
    <environments>Default</environments>
    <formulas>
        <name>ForLast12Hours</name>
        <dataType>DateTime</dataType>
        <expression>now() - (13/24)</expression>
    </formulas>
    <interviewLabel>Yacht Search Basket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Yacht Search Basket</label>
    <loops>
        <name>Loop_basket_IDs</name>
        <label>Loop basket IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>VarOkaytoSendCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Yachts_for_Basket_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SenttoWebsiteconfirmPage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRemoveAlreadysent</name>
        <label>LoopRemoveAlreadysent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>YachtBasketTableView.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountRemainingRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNigelID</targetReference>
        </connector>
        <inputReference>VarOkaytoSendCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opp_Basket</name>
        <label>Get Opp Basket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Yachts_proposed_by_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ForLast12Hours</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Yacht_Search_Basket__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNigelID</name>
        <label>GetNigelID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Basket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nigel_Opportunity_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Yachts_proposed_by_opp</name>
        <label>Yachts proposed by opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentBasketContainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Yacht_Proposed__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Yacht__c</queriedFields>
        <queriedFields>Yacht_Ref_Number__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Website_search__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Proposed_To_Client__c</queriedFields>
        <queriedFields>Contact_Proposed_To__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBasket</name>
        <label>UpdateBasket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>VarUpdateBasketItems</inputReference>
    </recordUpdates>
    <screens>
        <name>CantSendtowebordeletePage</name>
        <label>CantSendtowebordeletePage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNigelID</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_DisplayOppId</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You can&apos;t delete or send basket items to the website that have already been sent to the website&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CurrentBasketContainer</name>
        <label>CurrentBasketContainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopRemoveAlreadysent</targetReference>
        </connector>
        <fields>
            <name>BasketHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Basket&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>YachtBasketTableView</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Yacht_Search_Basket__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Basket</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Opp_Basket</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-5adb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Search_Name__c&quot;,&quot;guid&quot;:&quot;column-25a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Search Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;YachtURL__c&quot;,&quot;guid&quot;:&quot;column-ec24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Yacht&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Yacht&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Created_By_Name__c&quot;,&quot;guid&quot;:&quot;column-ddae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created By&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-d285&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Sent_to_website__c&quot;,&quot;guid&quot;:&quot;column-03f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Sent Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Sent to website&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BasketActionController</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;DeleteBasketItems&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Copy to webselection&quot;,&quot;value&quot;:&quot;Sendtowebsite&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>YachtBasketTableView.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Send to website</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SenttoWebsiteconfirmPage</name>
        <label>SenttoWebsiteconfirmPage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateBasket</targetReference>
        </connector>
        <fields>
            <name>DisplayOppId</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please use this reference ID as the opportunity ID in the website:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!GetNigelID.Nigel_Opportunity_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>yachtiddisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Copy paste this list of Yacht Ids into the website:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varListofYachtIDsforWebsite}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ClickfinishDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Make sure you click the &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(18, 85, 255);&quot;&gt;Finish&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; button to update Salesforce&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNigelID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBasketDoNotIncludeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>VarCountRecordsOkaytoSendtoWebsite</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varListofYachtIDsforWebsite</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOkaytoSendCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>VarRecord_updatedBasket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>VarRecordBasketOkaytoSend</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>VarRecordDonotIncludeinUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
    <variables>
        <name>VarUpdateBasketItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yacht_Search_Basket__c</objectType>
    </variables>
</Flow>
