force-app/main/default/flows/YPHCRU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignYPHYachtEventChangeUpper</name>
        <label>AssignYPHYachtEventChangeUpper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Yacht_Name_at_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORYachtNameAtEventChanged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New_YPH</name>
        <label>Is New YPH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsYachtNameAtEventChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_new_YPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YachtNameAtEvent</targetReference>
            </connector>
            <label>Yes new YPH</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsYachtNameAtEventChanged</name>
        <label>IsYachtNameAtEventChanged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Records_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_IsYachtNameAtEventChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForNameAtEventUCvsPC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignYPHYachtEventChangeUpper</targetReference>
            </connector>
            <label>Outcome 1 of IsYachtNameAtEventChanged</label>
        </rules>
    </decisions>
    <description>upper case logic for yacht name at event</description>
    <environments>Default</environments>
    <formulas>
        <description>uppercase vs lc</description>
        <name>ForNameAtEventUCvsPC</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Yacht_Name_at_Event__c} = UPPER({!$Record.Yacht_Name_at_Event__c})</expression>
    </formulas>
    <formulas>
        <name>FORYachtNameAtEventChanged</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Yacht_Name_at_Event__c})</expression>
    </formulas>
    <formulas>
        <name>FORYachtNameAtEventNew</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Yacht__r.Name})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>YPHCRU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YPHCRU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>YachtNameAtEvent</name>
        <label>YachtNameAtEvent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Yacht_Name_at_Event__c</field>
            <value>
                <elementReference>FORYachtNameAtEventNew</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_YPH</targetReference>
        </connector>
        <object>Yacht_Price_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarYachtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
